<template>
  <!-- eslint-disable -->
    <transition
      name="el-zoom-in-top"
      @after-enter="handleEnter"
      @after-leave="handleLeave">
        <div
          v-show="visible"
          class="el-picker-panel el-date-picker el-popper"
          :class="[{
            'has-sidebar': $slots.sidebar || shortcuts
          }, popperClass]"
        >
            <div class="el-picker-panel__body-wrapper">
                <slot
                  name="sidebar"
                  class="el-picker-panel__sidebar"
                >
                </slot>
                <div
                  class="el-picker-panel__sidebar"
                  v-if="shortcuts"
                >
                    <button
                      type="button"
                      class="el-picker-panel__shortcut"
                      v-for="(shortcut, index) in shortcuts"
                      @click="handleShortcutClick(shortcut)"
                      :key="index"
                    >
                      {{ shortcut.text }}
                    </button>
                </div>
                <div class="el-picker-panel__body">
                    <div class="el-date-picker__header" :class="'el-date-picker__header--bordered'">
                        <button type="button" @click="prevYear" :aria-label="t(`el.datepicker.prevYear`)" class="el-picker-panel__icon-btn el-date-picker__prev-btn el-icon-d-arrow-left">
                        </button>
                        <span @click="showYearPicker" role="button" class="el-date-picker__header-label">{{ yearLabel }}</span>
                        <button type="button" @click="nextYear" :aria-label="t(`el.datepicker.nextYear`)" class="el-picker-panel__icon-btn el-date-picker__next-btn el-icon-d-arrow-right">
                        </button>
                    </div>

                    <div class="el-picker-panel__content">
                        <year-table v-show="currentView === 'year'" @pick="handleYearPick" :value="new Date(value)" :default-value="defaultValue ? new Date(defaultValue) : null" :date="date" :disabled-date="disabledDate">
                        </year-table>
                        <quarter-table v-show="currentView === 'quarter'" @pick="handleQuarterPick" :value="new Date(value)" :default-value="defaultValue ? new Date(defaultValue) : null" :date="date" :disabled-date="disabledDate">
                        </quarter-table>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script type="text/babel">
/* eslint-disable */
import Locale from 'element-ui/lib/mixins/locale';
import { ElInput, ElButton } from 'element-ui';
import { isDate, clearTime, prevYear, nextYear } from './util';
import YearTable from './year-table.vue';
import QuarterTable from './quarter-table.vue';

function calculateQuarterDate(year, quarter) {
  // quarter is from zero
  const month = quarter * 3 + 1;
  return new Date(year, month);
}

export default {
  mixins: [Locale],

  watch: {
    value(val) {
      if (isDate(val)) {
        this.date = new Date(val);
      } else {
        this.date = this.defaultValue
          ? new Date(this.defaultValue)
          : new Date();
      }
    },

    defaultValue(val) {
      if (!isDate(this.value)) {
        this.date = val ? new Date(val) : new Date();
      }
    },
  },

  methods: {
    handleClear() {
      this.date = this.defaultValue ? new Date(this.defaultValue) : new Date();
      this.$emit('pick', null);
    },

    emit(value, ...args) {
      if (!value) {
        this.$emit('pick', value, ...args);
        return;
      }
      this.$emit('pick', clearTime(value), ...args);
    },

    showYearPicker() {
      this.currentView = 'year';
    },

    prevYear() {
      if (this.currentView === 'year') {
        this.date = prevYear(this.date, 10);
      } else {
        this.date = prevYear(this.date);
      }
    },

    nextYear() {
      if (this.currentView === 'year') {
        this.date = nextYear(this.date, 10);
      } else {
        this.date = nextYear(this.date);
      }
    },

    handleShortcutClick(shortcut) {
      if (shortcut.onClick) {
        shortcut.onClick(this);
      }
    },

    handleQuarterPick(quarter) {
      this.date = calculateQuarterDate(this.year, quarter);
      this.emit(this.date);
    },

    handleYearPick(year) {
      this.date = calculateQuarterDate(year, this.quarter);
      this.currentView = 'quarter';
    },

    resetView() {
      this.currentView = 'quarter';
    },

    handleEnter() {
      document.body.addEventListener('keydown', this.handleKeydown);
    },

    handleLeave() {
      this.$emit('dodestroy');
      document.body.removeEventListener('keydown', this.handleKeydown);
    },

    handleKeydown(event) {
      const keyCode = event.keyCode;
      const list = [38, 40, 37, 39];
      if (this.visible) {
        if (list.indexOf(keyCode) !== -1) {
          this.handleKeyControl(keyCode);
          event.stopPropagation();
          event.preventDefault();
        }
        if (keyCode === 13) {
          // Enter
          this.$emit('pick', this.date, false);
        }
      }
    },

    handleKeyControl(keyCode) {
      const mapping = {};

      const obj = {
        year: {
          38: -4,
          40: 4,
          37: -1,
          39: 1,
          offset: (date, step) => date.setFullYear(date.getFullYear() + step),
        },
        quarter: {
          38: -2,
          40: 2,
          37: -1,
          39: 1,
          offset: (date, step) => date.setMonth(date.getMonth() + step * 4),
        },
      };
      const view = this.currentView;
      const year = 3.1536e10;
      const now = this.date.getTime();
      const newDate = new Date(this.date.getTime());
      while (Math.abs(now - newDate.getTime()) <= year) {
        const map = mapping[view];
        map.offset(newDate, map[keyCode]);
        if (!this.isValidValue(newDate)) {
          continue;
        }
        this.date = newDate;
        this.$emit('pick', newDate, true);
        break;
      }
    },

    isValidValue(value) {
      return (
        value &&
        !isNaN(value) &&
        (typeof this.disabledDate === 'function'
          ? !this.disabledDate(value)
          : true)
      );
    },
  },

  components: {
    YearTable,
    QuarterTable,
    ElInput,
    ElButton,
  },

  data() {
    return {
      popperClass: '',
      date: new Date(),
      value: '',
      defaultValue: null,
      shortcuts: '',
      visible: false,
      currentView: 'quarter',
      disabledDate: '',
      format: '',
    };
  },

  computed: {
    year() {
      return this.date.getFullYear();
    },

    month() {
      return this.date.getMonth();
    },

    quarter() {
      const month = this.month;
      return (month - 1) / 3 + 1;
    },

    yearLabel() {
      const yearTranslation = this.t('el.datepicker.year');
      if (this.currentView === 'year') {
        const startYear = Math.floor(this.year / 10) * 10;
        if (yearTranslation) {
          return (
            `${startYear
            } ${
              yearTranslation
            } - ${
              startYear + 9
            } ${
              yearTranslation}`
          );
        }
        return `${startYear} - ${startYear + 9}`;
      }
      return `${this.year} ${yearTranslation}`;
    },
  },
};
</script>
