<template>
    <table @click="handleQuarterTableClick" class="el-month-table">
        <tbody>
            <tr>
                <td :class="getCellStyle(0)">
                    <a class="cell">{{ t('el.datepicker.quarter1') }}</a>
                </td>
                <td :class="getCellStyle(1)">
                    <a class="cell">{{ t('el.datepicker.quarter2') }}</a>
                </td>
            </tr>
            <tr>
                <td :class="getCellStyle(2)">
                    <a class="cell">{{ t('el.datepicker.quarter3') }}</a>
                </td>
                <td :class="getCellStyle(3)">
                    <a class="cell">{{ t('el.datepicker.quarter4') }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script type="text/babel">
/* eslint-disable */
import Locale from 'element-ui/lib/mixins/locale';
import {
  isDate,
  range,
  getDayCountOfMonth,
  nextDate,
} from './util';
import { hasClass } from 'element-ui/src/utils/dom';

const datesInQuarter = (year, quarter) => {
  const months = [];
  for (let i = quarter * 3; i < (quarter + 1) * 3; i++) {
    months.push(i);
  }
  let dates = [];
  for (const month of months) {
    dates = dates.concat(datesInMonth(year, month));
  }
  return dates;
};

const datesInMonth = (year, month) => {
  const numOfDays = getDayCountOfMonth(year, month);
  const firstDay = new Date(year, month, 1);
  return range(numOfDays).map(n => nextDate(firstDay, n));
};

/**
 *
 * @param {number} quarter quarter from zero to four
 * @param {number} month month from zero to eleven
 * @returns {boolean}
 */
const monthInQuarter = (quarter, month) => month >= quarter * 3 && month < (quarter + 1) * 3;

export default {
  props: {
    disabledDate: {},
    value: {},
    defaultValue: {
      validator(val) {
        // null or valid Date Object
        return val === null || (val instanceof Date && isDate(val));
      },
    },
    date: {},
  },
  mixins: [Locale],
  methods: {
    getCellStyle(quarter) {
      const style = {};
      const year = this.date.getFullYear();
      const today = new Date();

      style.disabled =
        typeof this.disabledDate === 'function'
          ? datesInQuarter(year, quarter).every(this.disabledDate)
          : false;
      style.current =
        this.value.getFullYear() === year && monthInQuarter(quarter, this.value.getMonth());
      style.today = today.getFullYear() === year && monthInQuarter(quarter, today.getMonth());
      style.default =
        this.defaultValue &&
        this.defaultValue.getFullYear() === year &&
        monthInQuarter(quarter, this.defaultValue.getMonth());

      return style;
    },

    handleQuarterTableClick(event) {
      const target = event.target;
      if (target.tagName !== 'A') return;
      if (hasClass(target.parentNode, 'disabled')) return;
      const column = target.parentNode.cellIndex;
      const row = target.parentNode.parentNode.rowIndex;
      const quarter = row * 2 + column;
      this.$emit('pick', quarter);
    },
  },
};
</script>
