<template>
  <div>
      <input type="file" ref="file" @change="inputCsv">
      {{availability}}
  </div>
</template>

<script>

export default {
    data(){
        return{
            file:'',
            availability:{}
        }
    },
    methods:{
       inputCsv(){
            this.file = this.$refs.file.files[0];
            console.log("test",this.file);
            var self = this;
            this.$papa.parse(this.file, {
                    header: true,
                    complete: function (results) {
                        self.availability = results.data;
                        console.log(typeof self.availability);
                    }
                }
             )
       }


    }
}
</script>

<style>

</style>