<template>
  <div>
    <div class="row text-right">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-5">
        <el-button
          class="add-payment-btn"
          icon="el-icon-plus"
          type="primary"
          plain
          @click="showAddPayment"
        >
        </el-button>
        <b>Payments</b>
      </div>
      <div class="col-md-4"></div>
      <!-- <span>
                        <input
                          class="form-control"
                          placeholder="0.00"
                          type="text"
                          @change="getSubtotal"
                          v-model="batch_paid"
                        />
                      </span> -->
    </div>
    <div
      v-for="(pay, index) in invoice.payments"
      :key="index"
      class="row text-right payment-actions"
    >
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-5">
        <el-popconfirm
          title="Delete this payment?"
          confirm-button-type="danger"
          confirm-button-text="Delete"
          cancel-button-text="Cancel"
          icon-color="red"
          @confirm="deletePaymentFunc(index)"
        >
          <el-button
            slot="reference"
            type="danger"
            class="btn-delete-payment"
            icon="el-icon-delete"
            style="padding: 2px 5px"
            plain
          >
          </el-button>
        </el-popconfirm>
        <el-button
          type="success"
          class="btn-edit-payment"
          icon="el-icon-edit"
          style="padding: 2px 5px"
          plain
          @click="editPaymentFunc(pay, index)"
        >
        </el-button>
        {{ pay.date }}
      </div>
      <div class="col-md-4 pr-4" style="color: green">
        $ {{ formatCurrency(pay.amount) }}
      </div>
    </div>

    <el-dialog
      title="Edit Payment Details"
      :visible.sync="showEditPayment"
      v-if="showEditPayment"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      :destroy-on-close="true"
      append-to-body
    >
      <el-form
        :model="editPayment"
        :inline="true"
        status-icon
        :rules="rules"
        ref="editPayment"
      >
        <el-form-item label="Date" prop="date">
          <el-date-picker
            v-model="editPayment.date"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="Date"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Amount" prop="amount">
          <el-input-number
            v-model="editPayment.amount"
            :precision="2"
            :step="1"
            :min="1"
            controls-position="right"
          ></el-input-number>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSaveEditPayment('editPayment')"
            >Save</el-button
          >
          <el-button @click="resetForm('editPayment')"
            >Reset to Original</el-button
          >
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      editPayment: {
        date: '',
        amount: null,
      },
      rules: {
        date: [
          {
            type: "string",
            required: true,
            message: "Please pick a date",
            trigger: "change",
          },
        ],
        amount: [
          {
            type: "number",
            required: true,
            message: "Please enter a valid amount",
            trigger: "change",
          },
        ],
      },
      editPaymentIndex: null,
      showEditPayment: null,
      invoice: {
        payments: [],
      },
    };
  },
  methods: {
      formatCurrency(value) {
        let val = (value / 1).toFixed(2).replace(",", ".");
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
    showAddPayment() {
      this.$prompt("Please enter the amount", "Add Payment", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        inputPattern: /^[0-9]+([.][0-9]+)?$/,
        inputErrorMessage: "Invalid Amount!",
      })
        .then(({ value }) => {
          let temp = parseFloat(value);
          console.log(parseFloat(temp),"float");
          if (temp != 0) {
            this.$message({
              type: "success",
              message: "Successfully added the payment amount of $ " + temp,
            });
            this.invoice.payments.push({
              date: moment(new Date()).format("YYYY-DD-MM"),
              amount: temp,
            });
            // this.getSubtotal();
          } else {
            this.$message({
              type: "info",
              message: "Add payment 0.",
            });
          }
        })
        .catch((err) => {
            console.log(err);
          this.$message({
            type: "info",
            message: "Add payment canceled.",
          });
        });
    },
    deletePaymentFunc(index) {
      this.invoice.payments.splice(index, 1);
      this.getSubtotal();
    },
    editPaymentFunc(data, index) {
        console.log("edit",data);
      this.editPaymentIndex = index;
      this.editPayment.date = data.date;
      this.editPayment.amount = data.amount;
      this.showEditPayment = true;
    },
    onSaveEditPayment(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.invoice.payments[this.editPaymentIndex].date = this.editPayment.date
          this.invoice.payments[this.editPaymentIndex].amount = this.editPayment.amount;
          this.showEditPayment = false;
        //   this.getSubtotal();
          console.log("editPayment", this.editPayment);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
};
</script>

<style></style>
