<template>
  <el-row>
    <el-col>
      <button @click="addData">add test</button>
      <div style="padding:5%">
        <dynamicTable
          :config="config"
          @change_status="chaStatus"
          @onColValChange="selectchange"
          @onRowSelected="onClickChild"
          @remove_selected="removeData"
          @edit_action="editFunction"
          @header="add_attendance"
          @rowClicked="rowOnclick"
        ></dynamicTable>
      </div>


<!--  -->

      <el-dialog title="SelectedData" :visible.sync="openModal">
        <el-alert title="Remove all?" type="warning">
          Are you sure you want to remove all this data?
        </el-alert>
        <dynamicTable
          v-if="refresh"
          ref="dynamicTable"
          :config="modalConfig"
        ></dynamicTable>
        <span slot="footer" class="dialog-footer">
          <el-button @click="onClose()">Cancel</el-button>
          <el-button type="primary" @click="removeAll()"
            >Yes, Remove all</el-button
          >
        </span>
      </el-dialog>



      <!--  -->

      <el-dialog title="Update" :visible.sync="edit" width="30%">
        <el-form>
          <el-form-item label="Agent Name">
            <el-input v-model="agent_name"></el-input>
          </el-form-item>
          <el-form-item label="Branch">
            <el-select v-model="branch" placeholder="Choose branch">
              <el-option
                label="Cebu Business Park"
                value="cebu business park"
              ></el-option>
              <el-option label="IT Park" value="it park"></el-option>
              <el-option label="Oakridge" value="Oakridge"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="edit = false">Cancel</el-button>
          <el-button type="primary" @click="update">Confirm</el-button>
        </span>
      </el-dialog>
                <el-dialog
                title="You Clicked a row"
                :visible.sync="onRowModal"
                width="30%"
                >
                    <el-alert
                        title="This row belongs to"
                        type="success">
                        <h4>{{message}}</h4>
                    </el-alert>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="onRowModal = false" type="primary" >Ok</el-button>
                </span>
            </el-dialog>
    </el-col>
  </el-row>
</template>
<script>
import dynamicTable from "./dynamicTablev2.vue";
import {dummyDataPage, dummyHeaderData, dummyColumn} from "./tableData";

export default {
  components: {
    dynamicTable,
  },
  mounted(){
    console.log("sample", this.test(53,123135353));

  },
  data() {
    return {
      refresh:false,
      modalConfig:{
        serverSide:{
            tableServerSide:false,
            pillsServerSide:false,
            paginationServerSide:false,
            searchServerSide:false,
            dateServerSide:false,
        },
        tableSetting:{
          hasPagination:false,
          onlyTitle:true
        },
        global:{
          name:"modal",
          tableTitle:"Test",
          tableData:[],//required
          tableFields:[
            {
              sortable: true,
              label: "Sale #",
              value: "sale_id",
              type: "string",
            },
            {
              sortable: true,
              label: "Date",
              value: "date_sold",
              type: "date",
            },
            {
              sortable: true,
              label: "Agent Name",
              value: "agent_name",
              type: "string",
            },
          ],//required
          hasDownload:false,
          loadingText:"Loading data. Please wait..",
        }
      },

      config:{
        serverSide:{
            tableServerSide:false,//whole table
            pillsServerSide:false,
            paginationServerSide:false,
            searchServerSide:false,
            dateServerSide:false,
        },
        tableSetting:{
          enableClickableRows: true,
          rowAction: [
            { label: "Remove Selected", emit: "remove_selected" },
            { label: "Select Status", emit: "change_status", options:[
              { name: "Fulltime", value: "fulltime" },
              { name: "Outsource", value: "outsource" },
              { name: "Partime", value: "partime" },
            ]},
          ],
          actionButton: [
            { label: "Edit", emit: "edit_action",icon:"el-icon-edit" ,color:"#409EFF"},
            { label: "Delete", emit: "delete_action",icon:"el-icon-delete",color:"#67C23A"},
          ],
        },
        filterSettings:{ // all settings sa mga buttons nga babaw sa table TANAN
          // clickabletags:{
          //   data: [
          //       { color: "#5da8a9", label: "Attendance", count:0 },
          //       { color: "#409EFF", label: "Cebu Business Park" , count:0},
          //       { color: "#67C23A", label: "IT Park" ,},
          //       { color: "#5Fd233", label: "IT Shark" ,},
          //       { color: "#e6a23c", label: "Oakridge" , count:0},
          //   ],
          //   columnName: 'branch'
          // },
          searchColumn:true,
          // searchDate:{
          //   dateFilterBy:[],
          //   dateOptions:[{ label: "Dates Sold", value: "date_sold" },{ label: "Dates Test", value: "date_test" }],
          // },
          buttonHeader:[
            {label:"Add Attendance", emit:"header"},
            {label:"Add Attendance", emit:"header"}
          ],
        },
        global:{
          name:"notmodal",
          tableTitle:'Attendance',
          tableData:dummyDataPage,//required
          tableFields:dummyColumn,//required
          hasDownload:true,
          loadingText:"Loading data. Please wait..",
        }
      },


      message:"",
      onRowModal:false,
      sales_id: "",
      agent_name: "",
      branch: "",
      page:1,
      loading:false,
      edit: false,
      openModal: false,
      modalDataSelected: [],
      headerData: dummyHeaderData,
      buttonHeader:[

      ],
      modalFields: [
        {
          sortable: true,
          label: "Sale #",
          value: "sale_id",
          width: "140",
          type: "string",
        },
        {
          sortable: true,
          label: "Agent Name",
          value: "agent_name",
          width: "",
          type: "string",
        },
        {
          sortable: true,
          label: "Branch",
          value: "branch",
          width: "",
          type: "string",
          renderOptions: [
            { color: "#409EFF", label: "Cebu Business Park" },
            { color: "#67C23A", label: "IT Park" },
            { color: "#e6a23c", label: "Oakridge" },
          ],
          dropDown: [
            { name: "Cebu Business Park", value: "cebu business park" },
            { name: "IT Park", value: "it park" },
            { name: "Oakridge", value: "oakridge" },
          ],
        },
      ],

    };
  },
  methods: {
    test(a, b){
      var aS = a.toString();
      var aB = b.toString();
      var stringLoc = aB.indexOf(aS)   // Returns 13

      return stringLoc
    },
    chaStatus(value){
      console.log("chastatus", value);
    },
    getData(){
      console.log("getData");
      this.loading=true;
      setTimeout(() => {
        if (this.page == 1) {
          this.data = dummyDataPage1
        }else if(this.page == 2){
          this.data = dummyDataPage2
        }else if(this.page == 3){
          this.data = dummyDataPage3

        }else if(this.page == 4){
          this.data = dummyDataPage4

        }
        this.loading = false
      }, 1000);
    },
    setPaginate(val) {
      console.log('set Paginate',val)
      this.page = val.page
      this.pageSize = val.pageSize
      this.getData();
    },
    setSearch(val) {
      console.log('setSearch',val)
      // if(val[0]){
      //   this.searchInput = val[0].value
      //   this.column = val[0].column
      // }else{
      //   this.searchInput = val.value
      //   this.column = val.column
      // }
      // if(val.length == 0) {
      //   this.searchInput = ''
      //   this.column = 'all'
      // }

      this.getData();
    },
    rowOnclick (value) {
      this.onRowModal = true
      console.log(value.row);
      this.message = value.row['agent_name'] + " " + value.label
    },
    add_attendance(value){
      console.log("header",value);
    },
    serverSearch(value){
      console.log("lol",value);
    },
    paginateChange(value) {
      console.log(value);
    },
    dateChange(value) {
      // axios here
      console.log(value);
    },
    selectchange(value) {
      console.log("se",value);
    },
    change() {
      console.log(JSON.parse(this.value));
    },
    onClickChild(value) {
      console.log("tag");
      this.selectedTab = value;
    },
    editFunction(value) {
      this.edit = true;
      this.sales_id = value.row.sale_id;
      this.agent_name = value.row.agent_name;
      this.branch = value.row.branch;
    },
    update() {
      var index = _.findIndex(this.data, { sale_id: this.sales_id });
      var dataOn = this.data[index];
      dataOn.agent_name = this.agent_name;
      dataOn.branch = this.branch;
      this.data.splice(index, 1, dataOn);
      this.edit = false;
    },
    removeAll() {
      for (var dat in this.modalDataSelected) {
        var index = _.findIndex(this.data, {
          sale_id: this.modalDataSelected[dat].sale_id,
        });
        this.data.splice(index, 1);
        this.openModal = false;
      }
    },
    onClose (){
      this.modalDataSelected = [];
      this.openModal=false
    },
    removeData(value) {

      this.modalDataSelected = [];
      console.log('before', this.modalDataSelected);
      console.log('emiitted',value);
      this.$nextTick(() => {
          // Add the component back in
          this.refresh = true;
       });
      this.openModal = true;
      this.modalConfig.global.tableData = value.rows;
      console.log('after', this.modalDataSelected);
    },
    addData() {
      var test = {
        sale_id: "SAL-2031",
        date_sold: "2021-06-14",
        agent_name: "John Doe",
        branch: "cebu Business Park",
        total_sold: 45000,
        item_sold: 300,
      };

      this.data.push(test);
    },
  },
  setup() {},
};
</script>
