<template>
  <div v-loading="loading" :element-loading-text="loadingText">
    <div>
      <div class="row mb-3">
        <div class="col-md-6">
          <h2 style="color: #53c609; text-shadow: -2px 2px 3px black;">{{invoiceSettings.invoice_title}}</h2>
        </div>
        <div class="col-md-3">
          <label for="payment-method">Payment Methods:</label>
					<el-select class="w-100" id="payment-method" v-model="invoice.payment_method" clearable placeholder="Select Payment Method">
						<el-option
							v-for="item in invoice.payment_method_options"
							:key="item.name"
							:label="item.name"
							:value="item.name">
						</el-option>
					</el-select>
        </div>
        <div class="col-md-3">
          <label for="payment-status">Payment Statuses:</label>
					<el-select class="w-100" id="payment-status" v-model="invoice.payment_status" clearable placeholder="Select Payment Status">
						<el-option
							v-for="item in invoice.payment_status_options"
							:key="item.payment_status"
							:label="item.payment_status"
							:value="item.payment_status">
						</el-option>
					</el-select>
        </div>
      </div>
      <div v-loading="invoice.loading" class="row mb-3">
        <div class="col-md-4">
          <label>Invoice #</label>
					<el-input
						v-model="invoice_id"
						:disabled="true">
					</el-input>
        </div>
        <div class="col-md-2">
          <div>&nbsp;</div>
        </div>
        <div class="col-md-3">
          <label for="date-issued">Date Issued:</label>
					<el-date-picker
						id="date-issued"
						v-model="invoice.date_issue"
						type="date"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
						placeholder="Select a date">
					</el-date-picker>
        </div>
        <div class="col-md-3">
          <label for="due-date">Due Date:</label>
					<el-date-picker
						id="due-date"
						v-model="invoice.due_date"
						type="date"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            :picker-options="datePickerOptionsEndDate"
						placeholder="Select a date">
					</el-date-picker>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="recipient-search-invoice">Recipient: </label>
          <el-input class="w-100" id="recipient-search-invoice" disabled v-model="invoice.recipient"></el-input>
          <div v-if="invoice.recipient">
						<div class="mt-3">
							<div>
                <b>To: </b>
                <a href="#" @click="toCustomerDetails(invoice.client_id)" style="cursor: pointer;">
                  {{invoice.recipient_name}}
                </a>
              </div>
							<div v-if="invoice.company">
                <b>Company: </b>
                {{invoice.company}}
              </div>
              <div>
                <b>Billing Address: </b>
                {{invoice.customer_billing}}
              </div>
              <div>
                <b>Primary number: </b>
                <a v-if="invoice.customer_mobile" :href="'tel:'+ invoice.customer_mobile">
                  {{invoice.customer_mobile}}
                </a>
                <span v-else>----</span>
              </div>
              <div>
                <b v-if="invoice.mobileOther && invoice.mobileOther.length > 0">
                  Other number{{invoice.mobileOther.length > 1 ? 's' : ''}}:
                </b>
                <div class="ml-2" v-for="(item,index) in invoice.mobileOther" :key="index">
                  <b>{{item.name ? item.name+': ': ''}}</b>
                  <a :href="'tel:'+ item.number">
                    {{item.number}}
                  </a>
                </div>
                <div v-if="invoice.mobileOther && invoice.mobileOther.length === 0">----</div>
              </div>
						</div>
          </div>
        </div>
        <div class="col-md-8">
          <div clas="text-right" style="padding-right: 15px;">
						<div class="clearfix">
							<b-img right :src="invoiceSettings.crm_logo" v-bind="configLogo"></b-img>
						</div>
            <strong>
              <div class="text-right">{{ invoiceSettings.invoice_comp_street }}</div>
              <div class="text-right">{{ invoiceSettings.invoice_comp_city }}, {{ invoiceSettings.invoice_comp_territory }}</div>
              <div class="text-right">{{ invoiceSettings.invoice_comp_country }}, {{ invoiceSettings.invoice_comp_postal_code }}</div>
              <div class="text-right">{{ invoiceSettings.invoice_comp_contact }}</div>
              <div class="text-right">
                <a v-if="invoiceSettings.invoice_website && invoiceSettings.invoice_website != 'null'"
                  :href="'https://'+invoiceSettings.invoice_website"
                  target="_blank" rel="noopener noreferrer">
                  {{ invoiceSettings.invoice_website }}
                </a>
                <span v-else></span>
              </div>
            </strong>
          </div>
          <br />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="panel">
            <div class="row panel-body">
              <div class="col-md-6">
                <div class="col-md-12" style="text-align: right;">
                  <h1 style="color: red;">Balance Due: $ {{ formatCurrency(batch_balance_due) }}</h1>
                </div>
              </div>
              <div class="col-md-5">
                <div v-if="invoice.payment_status == 'PAID'" class="payment-form">
                  <img src="/images/invoice_images/status_paid.png" class="paid-pos" />
                </div>
                <div v-if="invoice.payment_status == 'PREPAID'" class="payment-form">
                  <img src="/images/invoice_images/status_prepaid.png" class="paid-pos" />
                </div>
                <div v-if="invoice.payment_status == 'UNPAID'" class="payment-form">
                  <img src="/images/invoice_images/status_unpaid.png" class="paid-pos" />
                </div>
                <div v-if="invoice.payment_status == 'PENDING'" class="payment-form">
                  <img src="/images/invoice_images/status_pending.png" class="paid-pos" />
                </div>
                <div v-if="invoice.payment_status == 'DENIED'" class="payment-form">
                  <img src="/images/invoice_images/status_denied.png" class="paid-pos" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span>Job Services</span>
              </h3>
              <div class="right">
                <button v-if="!viewJobItems" type="button" @click="viewAllItems">
                  View All Items
                  <i class="lnr lnr-chevron-down"></i>
                </button>

                <button v-if="viewJobItems" type="button" @click="viewJobItems = false">
                  Hide All Items
                  <i class="lnr lnr-chevron-up"></i>
                </button>
              </div>
            </div>
            <!-- {{all_items_data}} -->
            <div  v-if="viewJobItems" class="panel-body">
              <el-table
                stripe
								v-loading="addLoading"
                :data="all_items_data"
                style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column align="center" type="selection"></el-table-column>
                <el-table-column prop="job_id" label="Job #"></el-table-column>
                <el-table-column prop="qty_hrs" label="Qty/Hr"></el-table-column>
                <el-table-column prop="service_date" label="Service Date"></el-table-column>
                <el-table-column prop="job_type" label="Service"></el-table-column>
                <el-table-column prop="description" label="Description"></el-table-column>
                <el-table-column prop="rate" label="Rate"></el-table-column>
                <el-table-column prop="total_rate" label="Amount"></el-table-column>
              </el-table>
            </div>
            <div>
              <center>
                <el-button
                  v-if="multipleSelection.length == '1'"
                  type="primary"
                  @click="addItemsToInvoice"
                >Add item to services</el-button>
                <el-button
                  v-if="multipleSelection.length && multipleSelection.length != '1'"
                  type="primary"
                  @click="addItemsToInvoice"
                >Add items to invoice services</el-button>
                <el-button v-if="multipleSelection.length" type="danger">Cancel</el-button>
              </center>
            </div>
            <div>
              <el-table
                stripe
                v-loading="jobServLoading"
                v-if="refresh"
                :data="invoice_items"
                :row-key='getRowKeys'
                :expand-row-keys="expands"
                @expand-change="expandSelect"
                :row-class-name="getRowClassName"
                style="width: 100%">
                <el-table-column type="expand">
                  <template slot-scope="props">
                    <div class="row" :class="props.row.inv_type">
                      <div class="col-6" v-if="props.row.jobOtherInfo && props.row.jobOtherInfo.length > 0">
                        <p><b>Associated Job Details:</b></p>
                        <div v-for="(item,index1) in props.row.jobOtherInfo" :key="index1">
                          <div v-if="item.name === 'Groupings with Label' || item.name === 'Mini Form'">
                            <b v-if="item.showGroupLabel">{{item.label}}</b>
                            <div class="ml-2" v-for="(group,index2) in item.groupings" :key="index2">
                              <el-divider v-if="group.name === 'Divider'"></el-divider>
                              <span v-else>
                                <b>{{ (group.hasIcon.text || group.label) +':'}}</b> {{group.value}}
                              </span>
                            </div>
                          </div>
                          <el-divider v-else-if="item.name === 'Divider'"></el-divider>
                          <div v-else>
                            <b>{{ (item.hasIcon.text || item.label) +':'}}</b> {{item.value}}
                          </div>
                        </div>
                      </div>
                      <div class="col-6" v-if="props.row.servOtherInfo && props.row.servOtherInfo.length > 0">
                        <p><b>Service Location Info:</b></p>
                        <div v-for="(item,index1) in props.row.servOtherInfo" :key="index1">
                          <div v-if="item.name === 'Groupings with Label' || item.name === 'Mini Form'">
                            <b v-if="item.showGroupLabel">{{item.label}}</b>
                            <div class="ml-2" v-for="(group,index2) in item.groupings" :key="index2">
                              <el-divider v-if="group.name === 'Divider'"></el-divider>
                              <span v-else>
                                <b>{{ (group.hasIcon.text || group.label) +':'}}</b> {{group.value}}
                              </span>
                            </div>
                          </div>
                          <el-divider v-else-if="item.name === 'Divider'"></el-divider>
                          <div v-else>
                            <b>{{ (item.hasIcon.text || item.label) +':'}}</b> {{item.value}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column label="Job #" width="110" align="center">
                  <template slot-scope="scope">
                    <div v-if="scope.row.inv_type === 'by_custom'"></div>
                    <span v-else>
                      <a href="#" @click="toJobDetails(scope.row)" style="cursor: pointer;">
                        {{scope.row.job_id}}
                      </a>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column label="Service Date" width="140" align="center">
                  <template slot-scope="scope">
                    <el-date-picker v-if="scope.row.inv_type === 'by_custom'"
                      v-model="scope.row.service_date"
                      type="date"
                      size="mini"
                      format="yyyy-MM-dd"
                      value-format="yyyy-MM-dd"
                      placeholder="Date">
                    </el-date-picker>
                    <span v-else>
                      {{scope.row.service_date}}
                    </span>
                  </template>
                </el-table-column>
                <el-table-column label="Service" width="110" show-overflow-tooltip align="center">
                  <template slot-scope="scope">
                    <el-input v-if="scope.row.inv_type === 'by_custom'"
                      size="mini"
                      v-model="scope.row.job_type">
                    </el-input>
                    <span v-else>
                      {{scope.row.job_type}}
                    </span>
                  </template>
                </el-table-column>
                <el-table-column label="Description" min-width="110" align="left">
                  <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                      <span v-html="textAreaConvert(scope.row.description)"></span>
                      <div slot="reference">
                        <el-input
                          size="mini"
                          type="textarea"
                          :autosize="{ minRows: 1, maxRows: 5}"
                          v-model="scope.row.description">
                        </el-input>
                      </div>
                    </el-popover>
                  </template>
                </el-table-column>
                <el-table-column label="Quantity" width="90" align="center">
                  <template slot-scope="scope">
                    <div class="input-group custom-prepend">
                      <el-input-number
                        class="w-100"
                        v-model="scope.row.qty_hrs"
                        controls-position="right"
                        size="mini"
                        :step="1"
                        :min="0"
                        @change="updateItem(scope.row)"
                      ></el-input-number>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column label="Rate" width="130" align="center">
                  <template slot-scope="scope">
                    <div class="input-group custom-prepend d-flex flex-nowrap">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="padding: 0 5px;">$</span>
                      </div>
                      <el-input-number
                        class="w-100"
                        v-model="scope.row.rate"
                        :precision="2"
                        :step="1"
                        :min="0"
                        size="mini"
                        controls-position="right"
                        @change="updateItem(scope.row)"
                      ></el-input-number>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column label="Tax" width="120" align="center">
                  <template slot-scope="scope">
                    <el-select
                      size="mini"
                      class="w-100"
                      v-model="scope.row.tax_type_id"
                      @change="updateItem(scope.row)"
                      placeholder="Select Tax">
                      <el-option
                        v-for="(item,index) in invoiceSettings.tax_data"
                        :key="index"
                        :label="item.name"
                        :value="item.id">
                      </el-option>
                    </el-select>
                  </template>
                </el-table-column>
                <el-table-column label="Amount" width="120" align="center">
                  <template slot-scope="scope">
                    <div class="d-flex justify-content-end">
                      <span class="mr-1">
                        $ {{ scope.row.total_rate }}
                      </span>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column label="Discount" width="150" align="center">
                  <template slot-scope="scope">
                    <div class="d-flex flex-nowrap">
                      <div class="input-group custom-prepend d-flex flex-nowrap">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="padding: 0 5px;">$</span>
                        </div>
                        <el-input-number
                          class="w-100 "
                          v-model="scope.row.discount"
                          :precision="2"
                          :step="1"
                          :min="0"
                          size="mini"
                          controls-position="right"
                          @change="updateItem(scope.row)"
                        ></el-input-number>
                      </div>
                      <i @click="removeItem(scope.row)" class="el-icon-circle-close invoice-close-btn clickable-label"></i>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
              <div class="mt-3 mr-3 text-right">
                <el-button size="mini" type="primary" @click="customAddItem" icon="el-icon-plus">
                  Add a line item
                </el-button>
              </div>
              <hr />
              <div class="row" style="margin-top: -1.1rem;">
                <div class="col-md-7">
									<div style="padding: 10px;">
										<label for="batch_notes_textarea">Notes</label>
										<el-input type="textarea"
											id="batch_notes_textarea"
											v-model="batch_notes"
											size="medium"
											:autosize="{ minRows: 3, maxRows: 10}"
											clearable
										></el-input>
									</div>
                </div>
                <div class="col-md-5">
                  <div style="border-top: 3px solid red;padding: 10px;">
                    <div class="row text-right">
                      <div class="col-md-3"></div>
                      <div class="col-md-5">
                        <b>Subtotal:</b>
                      </div>
                      <div class="col-md-4 pr-4">
                        <span>$ {{ formatCurrency(batch_subtotal) }}</span>
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <b>Total Discount:</b>
                      </div>
                      <div class="col-md-4 pr-4">
                        <span style="color: green;">$ {{ formatCurrency(batch_discount) }}</span>
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <b>Voucher:</b>
                      </div>
                      <div class="col-md-4 pr-4"></div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3"></div>
                      <div class="col-md-5 transparent-select">
                        <el-select
                          class="mini-editable--voucher"
                          size="mini"
                          placeholder="Select"
                          v-model="selectedVoucher"
                          @change="handleVoucherSelect"
                          filterable clearable>
                          <el-option :value="''" :label="'No Voucher'">No Voucher</el-option>
                          <el-option
                            v-for="(item,index) in voucherList"
                            :key="index"
                            :label="item.name"
                            :value="index">
                          </el-option>
                        </el-select>
                      </div>
                      <div class="col-md-4 pr-4 d-flex align-items-end flex-column">
                        <span class="mt-auto" style="color: green;">
                          $ {{ formatCurrency(voucherValue) }}
                        </span>
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <b>Total Tax:</b>
                      </div>
                      <div class="col-md-4 pr-4">
                        <span class="data_color">$ {{ formatCurrency(batch_tax) }}</span>
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <b>Total Amount:</b>
                      </div>
                      <div class="col-md-4 pr-4">
                        <span>$ {{ formatCurrency(batch_total_due) }}</span>
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <el-button
                          class="add-payment-btn"
                          icon="el-icon-plus"
                          type="primary"
                          plain
                          @click="showAddPayment">
                        </el-button>
                        <b>Payments</b>
                      </div>
                      <div class="col-md-4"></div>
                      <!-- <span>
                        <input
                          class="form-control"
                          placeholder="0.00"
                          type="text"
                          @change="getSubtotal"
                          v-model="batch_paid"
                        />
                      </span> -->
                    </div>
                    <div v-for="(pay, index) in invoice.payments" :key="index" class="row text-right payment-actions">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <el-popconfirm
                          title="Delete this payment?"
                          confirm-button-type="danger"
                          confirm-button-text='Delete'
                          cancel-button-text='Cancel'
                          icon-color="red"
                          @confirm="deletePaymentFunc(index)">
                          <el-button
                            slot="reference"
                            type="danger"
                            class="btn-delete-payment"
                            icon="el-icon-delete"
                            style="padding: 2px 5px;"
                            plain>
                          </el-button>
                        </el-popconfirm>
                        <el-button
                          type="success"
                          class="btn-edit-payment"
                          icon="el-icon-edit"
                          style="padding: 2px 5px;"
                          plain
                          @click="editPaymentFunc(pay,index)">
                        </el-button>
                        {{pay.date}}
                      </div>
                      <div class="col-md-4 pr-4" style="color: green;">
                        $ {{formatCurrency(pay.amount)}}
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-3">&nbsp;</div>
                      <div class="col-md-5">
                        <b>Balance Due:</b>
                      </div>
                      <div class="col-md-4 pr-4">
                        <span class="data_color">$ {{ formatCurrency(batch_balance_due) }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center>
        Note: Please review the details above before sending this invoice!
        <br />
        <br />
        <br />
        <el-button type="primary" @click="saveBatchInvoice">Save</el-button>

        <span v-if="invoice_status != 'SENT'">
          <el-button
            type="success"
            @click="saveBatchInvoiceWithMail"
            :loading="invoice.loadingsend"
          >Save & Send</el-button>
        </span>
        <span v-if="invoice_status == 'SENT'">
          <el-button
            type="warning"
            @click="saveBatchInvoiceWithMail"
            :loading="invoice.loadingsend"
          >Save & Resend</el-button>
          <el-button v-if="invoice_status != ''" type="info" @click="viewPdf">View PDF</el-button>
        </span>
        <el-button type="danger" @click="deleteDetails">Delete</el-button>
      </center>
    </div>
    <el-dialog title="Create mail"
			width="80%"
			v-if="showEditEmail"
			:visible.sync="showEditEmail"
			:close-on-press-escape="false"
			:close-on-click-modal="false"
			:show-close="false"
			append-to-body>
      <CreateInvoiceEmail
				:client_details="client_details"
				:job_mail_status="true"
				:invoice_items="invoice_items"
				:lineItemsContainer="lineItemsContainer"
				:invoice="invoice"
        :invoice_comp_email_body="invoiceSettings.invoice_comp_email_body"
				@exit-email="showEditEmail = false"
				@send-invoice="handleSend"
			></CreateInvoiceEmail>
    </el-dialog>
    <el-dialog title="Edit Payment Details"
			:visible.sync="showEditPayment"
			v-if="showEditPayment"
			:close-on-press-escape="false"
			:close-on-click-modal="false"
			:destroy-on-close="true"
			append-to-body>
      <el-form :model="editPayment" :inline="true" status-icon :rules="rules" ref="editPayment">
				<el-form-item label="Date" prop="date">
					<el-date-picker
            v-model="editPayment.date"
            type="date"
            format="yyyy-MM-dd"
            placeholder="Date">
          </el-date-picker>
				</el-form-item>
				<el-form-item label="Amount" prop="amount">
          <el-input-number
            v-model="editPayment.amount"
            :precision="2"
            :step="1"
            :min="1"
            controls-position="right"
          ></el-input-number>
				</el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSaveEditPayment('editPayment')">Save</el-button>
    			<el-button @click="resetForm('editPayment')">Reset to Original</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
const log = console.log
function intToFloat(num, decPlaces) {
  return num.toFixed(decPlaces);
}
// import { defaultInvoice } from "../../superadmin/setup/variables/defaultSettings";
// import { moneySettings, percentSettings } from "../../superadmin/setup/variables/types";
// import CreateInvoiceEmail from "./invoice-email/createInvoiceEmail"
import axios from 'axios'

import moment from "moment";
// import {Money} from 'v-money'
const protocol = window.location.protocol
const url = window.location.hostname
export default {
	components: {
		// Money,
		// CreateInvoiceEmail,
	},
  props: [
    "view_invoice_id",
    "view_job_id",
  ],
  data() {
    return {
      voucherList: [],
      selectedVoucher: '',
      voucherValue: 0,
      invoiceSettingStatus: '',
			datePickerOptionsEndDate: {
				disabledDate: this.disableEnd
			},
			editPayment: {
				date: null,
				amount: null,
			},
			rules: {
				date: [
          { type: 'date', required: true, message: 'Please pick a date', trigger: 'change' }
        ],
        amount: [
          { type: 'number', required: true, message: 'Please enter a valid amount', trigger: 'change' }
        ],
			},
      editPaymentIndex: null,
      showEditPayment: null,
			lineItemsContainer: {
				lineItems: []
			},
			customer_name: '',
			job_id_view: null,
      tax_temp: 0,
			jobServLoading: false,
			showEditEmail: false,
			client_details: {
				email: '',
				invoice_id: '',
			},
			moneySettings,
			percentSettings,
      other_recipient: "",
      recipient_message: "",
      all_recipients: [],
      id: "",
      item_id: "",
      invoice_add_status: "0",
      invoice_id: "",
      batch_notes: "",
      batch_discount: "0",
      batch_balance_due: "0",
      batch_paid: "0",
      batch_subtotal: "0",
      batch_tax: "0",
      batch_total_due: "0",
      addLoading: false,
      multipleSelection: [],
      viewJobItems: false,
      all_items_data: [],
      invoice_items: [],
      sendOtherModal: false,
      loadingSendToMany: false,
      loading: true,
      loadingText: 'Fetching invoice details, please wait...',
      job_id: "",
      invoiceLoading: false,
      invoice_view_status: false,
      create_new_invoice: false,
      invoice_details: "",
      invoice_status: "",
      viewInvoice: false,
      data_invoice: "",
      type_of_tax_value: '',
      type_of_tax: '',
      tax_id: 0,
      invoice: {
        payments: [],
        taxable: true,
        inv_id: "", //primary key
        payment_method: "",
        payment_method_options: [],
        payment_status: "",
        payment_status_options: [
          {
            payment_status: "PENDING",
            label: "PENDING",
          },
          {
            payment_status: "PREPAID",
            label: "PREPAID",
          },
          {
            payment_status: "PARTIAL",
            label: "PARTIAL",
          },
          {
            payment_status: "PAID",
            label: "PAID",
          },
          {
            payment_status: "UNPAID",
            label: "UNPAID",
          },
          {
            payment_status: "DENIED",
            label: "DENIED",
          },
        ],
        description: "",
        invoice_id: "",
        date_issue: '',
        due_date: '',
        email: "",
        recipient: "",
        recipient_rate: "",
        recipient_name: "",
        recipient_id: "",
        address: "",
        links: [],
        results: [],

        error_message: "",
        search_success: false,
        loading: false,
        loadingsend: false,
        loadingsave: false,

        job_rate: "",
        job_qty_hrs: "",
        notes: "",
        total_amount: "",
        tax: "0",
        discount: "0",
        subtotal: "0",
        total_due: "0",
        balance_due: "0",
        paid: "0",
        vc_id: "",
        vc_value: 0,
        recipient_contact: [],
        recipient_address: [],
        contact_ids: [],
        contact_number: "",
        job_ids: [],
        job_data: [],
        qty: "",
      },
      inv_items: {
        description: "",
        tax_status: "",
        tax_type_id: 0,
        tax_value: 0,
        id: "",
        inv_type: "by_custom",
        job_id: "",
        job_type: "",
        qty_hrs: 0,
        discount: 0,
        rate: 0.00,
        service_date: "",
        total_rate: '0.00',
      },
      service: {
        qty: "",
        name: "",
        description: "",
        amount: "",
        allServices: [],
      },
			invoiceSettings: {
				invoice_title:'',
				invoice_payment_types:[],
				crm_logo:'',
        invoice_comp_email_body:'',
				invoice_comp_street:'',
				invoice_comp_city:'',
				invoice_comp_territory:'',
				invoice_comp_postal_code:'',
				invoice_comp_country:'',
				invoice_comp_contact:'',
				invoice_website:'',
				tax_rate:'',
        tax_data: [],
        tax_default: 0,
			},
			configLogo: {
				center: true,
				width: 'auto',
				height: 50,
			},
			expands: [],
			tempList: [],
			customer_id: null,
      refresh: true,
      formSettingsJobForm: [],
      formSettingsServForm: [],
    };
  },
  created() {
    console.log('id',this.view_invoice_id);
    Promise.all([
      this.getInvoiceSettings(),
      this.getFormSettings(),
      this.getAvailableVouchers()
    ]).then(result=>{
      console.log(result)
      if (this.view_invoice_id) {
        this.id = this.view_invoice_id;
        this.job_id = this.view_job_id;
        this.getInvoiceDetails();
        this.invoice_view_status = true;
      } else {
        this.job_id = this.view_job_id;
        this.invoice_view_status = false;
        this.getSubtotal();
      }
    }).catch(err=>{
      this.loading = false
      this.toToasterWarning('Ooops!',err)
      console.log('err',err)
    })
	},
  methods: {
    handleVoucherSelect(val) {
      console.log('voucher details',typeof val)
      if (typeof val === 'number') {
        let voucher = this.voucherList[val]
        console.log('batch_subtotal',parseFloat(this.batch_subtotal))
        console.log('voucher.value',voucher.value)
        if (voucher.type === 'flat') {
          this.voucherValue = voucher.value
        } else if (voucher.type === 'percent') {
          var value_per = voucher.value / 100

          this.voucherValue = (parseFloat(this.batch_subtotal) * value_per).toFixed(2)
        }
        this.vc_id = voucher.id
        this.vc_value = this.voucherValue
      } else {
        this.vc_id = ''
        this.vc_value = 0
        this.voucherValue = 0
      }
      this.getSubtotal()
    },
    showAddPayment() {
      this.$prompt('Please enter the amount', 'Add Payment', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        inputPattern: /^[0-9]+([.][0-9]+)?$/,
        inputErrorMessage: 'Invalid Amount!'
      }).then(({ value }) => {
        let temp = parseFloat(value)
        console.log(parseFloat(temp))
        if (temp != 0) {
          this.$message({
            type: 'success',
            message: 'Successfully added the payment amount of $ ' + temp
          });
          this.invoice.payments.push({date: moment(new Date()).format('YYYY-DD-MM'), amount: temp})
          this.getSubtotal()
        } else {
          this.$message({
            type: 'info',
            message: 'Add payment canceled.'
          });
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Add payment canceled.'
        });
      });
    },
    deletePaymentFunc(index) {
      this.invoice.payments.splice(index,1)
      this.getSubtotal()
    },
    editPaymentFunc(data,index) {
      this.editPaymentIndex = index
      this.editPayment.date = new Date(data.date)
      this.editPayment.amount = data.amount
      this.showEditPayment = true
    },
    onSaveEditPayment(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.invoice.payments[this.editPaymentIndex].date = moment(this.editPayment.date).format('yyyy-MM-DD')
          this.invoice.payments[this.editPaymentIndex].amount = this.editPayment.amount
          this.showEditPayment = false
          this.getSubtotal()
          console.log('editPayment',this.editPayment)
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
		toCustomerDetails (id) {
      console.log('toCustomerDetails',id)
			this.$emit('to-customer-details',{customer_id:id})
    },
    toJobDetails (row) {
			console.log('toJobDetails',row)
			this.$emit('to-job-details',{job_id:row.id})
    },
		textAreaConvert(val) {
			if (val && val !== '') {
				return val.replaceAll(/\n/g, '<br />')
			}
		},
		getRowKeys:function(row){
      return row.id
		},
		expandSelect:function(row, expandedRows) {
			if (expandedRows.length) {
        // console.log('here',row)
				this.expands = []
				if (row) {
					this.expands.push(row.id)
				}
			} else {
				this.expands = []
			}
		},
    getRowClassName({row, rowIndex}){
      // console.log('getRowClassNamee',row)
      if (row.inv_type === "by_custom") {
        return 'row-expand-cover';
      } else if (row.jobOtherInfo && row.servOtherInfo) {
        if (row.jobOtherInfo.length === 0 && row.servOtherInfo.length === 0) {
          return 'row-expand-cover'
        }
      } else {}
    },
		getInvoiceSettings() {
      return new Promise((resolve) => {
				axios.get(protocol+'//'+url+'/getInvoiceSettings/'+this.$route.params.fran_id).then(response => {
					if(response.data.status === 'success') {
            this.invoiceSettingStatus = 'success'
						this.invoiceSettings = response.data.invoiceSetting
            if (this.invoiceSettings.invoice_payment_types) {
              this.invoice.payment_method_options = JSON.parse(this.invoiceSettings.invoice_payment_types)
            } else {
              this.invoice.payment_method_options = []
            }
            if (typeof this.invoiceSettings.tax_data === 'string') {
						  this.invoiceSettings.tax_data = JSON.parse(response.data.invoiceSetting.tax_data)
            }
					} else {
						this.invoiceSettings.crm_logo = '/images/logo-1.png'
						this.invoiceSettings.invoice_title = ''
						this.invoiceSettings.invoice_comp_street = ''
						this.invoiceSettings.invoice_comp_city = ''
						this.invoiceSettings.invoice_comp_territory = ''
						this.invoiceSettings.invoice_comp_postal_code = ''
						this.invoiceSettings.invoice_comp_country = ''
						this.invoiceSettings.invoice_comp_contact = ''
						this.invoiceSettings.invoice_website = ''
						this.invoiceSettings.tax_data = []
						this.invoiceSettings.tax_default = 0
					}
					this.loading = false;
					resolve(true)
				}).catch(err=> {
					resolve(false)
        })
			})
    },
    generateInvoice: function () {
      console.log("generating");
      this.invoiceLoading = true;
      console.log(this.job_id);
      const formData = new FormData();

      formData.append("id", this.job_id);
      // formData.append('invoice_id', this.invoice_id)
      axios.post("invoice/invoiceGenerate", formData).then((response) => {
        // console.log(response.data.invoice_data.id)

        if (response.data.status == "fail") {
          var msg = response.data.body;
          swal("Ooops!", " " + msg + " ", "error").then((value) => {});
        } else if (response.data.status == "success") {
          this.id = response.data.invoice_data.id;
          this.getInvoiceDetails();
          this.invoice_view_status = true;
					this.$emit('set-invoice-id',response.data.invoice_data.id)

          swal(
            "Success!",
            "You have successfully generated a client invoice!",
            "success"
          ).then((value) => {});
        }
        this.invoiceLoading = false;
      });
    },
    getInvoiceDetails: function () {
      this.loading = true;
      this.jobServLoading = true
      this.loadingText = 'Fetching invoice details, please wait...'

      axios.get("invoice/view_invoice/" + this.id).then((response) => {
        var prefix = this.invoice;

        var invoice_data = response.data.invoice_data;
        prefix.date_issue = invoice_data.date_issue;
        prefix.due_date = invoice_data.due_date;
        prefix.billing_address_data = invoice_data.billing_address_data;
        prefix.invoice_id = invoice_data.invoice_id;
        prefix.client = invoice_data.client;
				prefix.client_id = invoice_data.client_id
				prefix.company = invoice_data.company

        this.invoice_add_status = invoice_data.invoice_add_status;
        this.item_id = invoice_data.item_id;
        this.invoice_id = invoice_data.invoice_id;
        this.type_of_tax = invoice_data.type_of_tax;

        var tax_data = this.invoiceSettings.tax_data


        for (var i = 0; i < tax_data.length; i++) {
          if (tax_data[i].id == this.type_of_tax) {
            this.tax_id = tax_data[i].id
          }
				}
        if (invoice_data.vc_id) {
          console.log('invoice_data.vc_id',invoice_data.vc_id)
          this.selectedVoucher = this.$_.findIndex(this.voucherList,{id:parseInt(invoice_data.vc_id,10)})
          console.log('index',this.selectedVoucher)
          if (this.selectedVoucher === -1) {
            this.voucherList.push(invoice_data.voucher_data)
            this.selectedVoucher = this.$_.findIndex(this.voucherList,{id:parseInt(invoice_data.vc_id,10)})
          }
          this.handleVoucherSelect(this.selectedVoucher)
        }
        this.invoice.payments = invoice_data.payments
				this.client_details.email = invoice_data.client_email
				this.client_details.invoice_id = invoice_data.invoice_id
        this.client_details.id = invoice_data.client_id
        this.client_details.mobile = invoice_data.mobile
        this.client_details.name = invoice_data.client

        this.batch_notes = invoice_data.notes === 'null' ? '' : invoice_data.notes
				prefix.notes = this.batch_notes
        this.batch_balance_due = invoice_data.balance_due;
        this.batch_paid = invoice_data.paid;
        this.batch_subtotal = invoice_data.subtotal;
        this.batch_tax = invoice_data.tax;
        this.batch_total_due = invoice_data.total_due;

        this.invoice_items = invoice_data.invoice_items;
        if(this.invoiceSettingStatus == 'success'){
          var data_type = invoice_data.data_type

          var tax_data = this.invoiceSettings.tax_data
          // console.log('mao ni ang tax data', tax_data)
          var default_tax_type_id = ""
          var default_tax_value = ""
          tax_data.forEach(element_tax => {
            if (parseInt(element_tax.id) == parseInt(this.invoiceSettings.tax_default)) {
              // console.log('mao ni element tax', element_tax)
              default_tax_type_id = element_tax.id
              default_tax_value = element_tax.value
            }

          })
          var var_tax_value = ''
          var var_tax_type_id = ''

          var new_invoice_items = []

          this.invoice_items.forEach(element => {

            this.updateItem(element)
            switch (data_type) {
              case 'lme':
                if (!element.tax_type_id) {
                  var_tax_type_id = 0
                  var_tax_value = 5
                  console.log('lme data no tax type id')
                }else{
                  console.log('lme data naay tax type id')
                  var_tax_type_id = element.tax_type_id
                  var_tax_value = element.tax_value

                }

                break;
              case 'old':
                if (!element.tax_type_id) {
                  var_tax_type_id = default_tax_type_id
                  var_tax_value = default_tax_value

                }else{
                  var_tax_type_id = element.tax_type_id
                  var_tax_value = element.tax_value

                }
                break;
              case 'new':

                // var tax_data = this.invoiceSettings.tax_data
                // console.log('narecognize ko dring dapita', tax_data)
                // console.log('mao ni ang element', element)
                tax_data.forEach(new_element_tax => {
                  // console.log('return new element tax', parseInt(element.tax_type_id,10),'===',new_element_tax)

                  if (parseInt(element.tax_type_id,10) === new_element_tax.id) {
                    // console.log('naigo ko dri ug mi ang elements', new_element_tax)
                    var_tax_type_id = new_element_tax.id
                    var_tax_value = new_element_tax.value
                  }

                })
                break;
              default:
                break;
            }

            if(!element.id || element.id == ''){
                var id = 0
                var new_invoice_itm = {
                  'id' : id,
                  'job_id' : element.job_id,
                  'qty_hrs' : element.qty_hrs,
                  'job_type' : element.job_type,
                  'service_date' : element.service_date,
                  'description' : element.description,
                  'discount' : element.discount,
                  'rate' : element.rate,

                  'total_rate' : element.total_rate,
                  'tax_type_id' : var_tax_type_id,
                  'tax_value' : var_tax_value,
                  'tax_status' : true,
                  'inv_type' : 'by_custom'
                }
                new_invoice_items.push(new_invoice_itm)
              } else {
                  var new_invoice_itm = {
                    'id' : element.id,
                    'job_id' : element.job_id,
                    'qty_hrs' : element.qty_hrs,
                    'job_type' : element.job_type,
                    'service_date' : element.service_date,
                    'description' : element.description,
                    'discount' : element.discount,
                    'rate' : element.rate,
                    'jobOtherInfo' : !element.jobOtherInfo ? [] : element.jobOtherInfo,
                    'servOtherInfo' : !element.servOtherInfo ? [] : element.servOtherInfo,
                    'servOtherInfo' : element.servOtherInfo,
                    'total_rate' : element.total_rate,
                    'tax_type_id' : var_tax_type_id,
                    'tax_value' : var_tax_value,
                    'tax_status' : true,
                    'inv_type' : !element.inv_type ? 'by_job' : element.inv_type
                  }
                new_invoice_items.push(new_invoice_itm)

              }
              id++

            })
            // console.log('new_invoice_items', new_invoice_items)
            this.invoice_items = new_invoice_items
          }

          this.invoice_status = invoice_data.invoice_status;
          prefix.recipient_id = invoice_data.client_id;
          // prefix.customer_billing = invoice_data.billing_address;
          // prefix.customer_mobile = invoice_data.client_mobile;
          prefix.payment_method = invoice_data.payment_method;
          prefix.payment_status = invoice_data.payment_status;
          prefix.recipient =
            invoice_data.client.toLowerCase() + " <" + invoice_data.client_email.toLowerCase() + ">";
          prefix.email = invoice_data.client_email;
          prefix.recipient_name = invoice_data.client
          prefix.customer_mobile = invoice_data.mobile
          prefix.mobileOther = invoice_data.mobileOther
          prefix.customer_billing = invoice_data.billing_address
          // this.selectedRecipient(prefix.recipient_id)
          this.getSubtotal();
          this.loading = false
					this.insertOtherDetails();
      }).catch(err=> {
        console.log(err)
      })
		},
		getFormSettings() {
      return new Promise((resolve) => {
        axios.get(protocol + "//" + url + '/getOtherDetails/'+this.$route.params.fran_id).then(({data})=>{
          // console.log('getOtherDetails',data)
          if (data.status === 'success') {
            this.formSettingsJobForm = JSON.parse(data.job_form)
            this.formSettingsServForm = JSON.parse(data.serv_form)
            resolve(true)
          } else {
            resolve(false)
          }
        });
      })
		},
		getAvailableVouchers() {
      return new Promise((resolve) => {
        const formData = new FormData()
        formData.append('fran_id',this.$route.params.fran_id)

        axios.post('/voucher/availableVC',formData).then(({data})=>{
          if (data.status === 'success') {
            this.voucherList = data.data
            resolve(true)
          } else {
            this.voucherList = []
            resolve(false)
          }
        });
      })
		},
		insertOtherDetails() {
      // console.log('invoice_items',this.invoice_items)
			this.invoice_items.forEach((itm,index) => {
				if(itm.inv_type === 'by_job' && itm.job_id) {
					axios.get('invoice/getJobOtherDetails/'+itm.job_id).then(response=>{
						itm['jobOtherInfo'] = this.setFormSettings(response.data.job_other_info_details,this.formSettingsJobForm)
				    if (typeof response.data.client_serv_other_info_details === 'string') {
              itm['servOtherInfo'] = this.setFormSettings(JSON.parse(response.data.client_serv_other_info_details),this.formSettingsServForm)
            } else {
              itm['servOtherInfo'] = []
            }
            if (this.invoice_items.length-1 === index) {
              this.jobServLoading = false
              this.refresh = false
              this.$nextTick(()=> {
                this.refresh = true
              })
            }
					})
				} else if (this.invoice_items.length-1 === index) {
          this.jobServLoading = false
          this.refresh = false
          this.$nextTick(()=> {
            this.refresh = true
          })
        }
			})
		},
		setFormSettings(data,formSettings) {
			let newData = []
			// console.log('data',data)
			// console.log('formSettings',formSettings)
			if (data && data != 'null') {
				data.forEach(element => {
          formSettings.forEach(form => {
            if (element.id === form.id) {
              console.log(element.id, '===', form.id)
              if (element.name === 'Groupings with Label') {
                let groupings = []
                element.groupings.forEach(dgroup => {
                  form.groupings.forEach(fgroup => {
                    if (fgroup.id === dgroup.id) {
                      console.log('groupings', fgroup.id, '===', dgroup.id)
                      if (dgroup.value && fgroup.isShowOnInvoice && !fgroup.isHidden) {
                        if (dgroup.name === 'Select Date') {
                          dgroup.value = moment(dgroup.value).format('YYYY-MM-DD')
                        }
                        groupings.push(dgroup)
                      }
                    }
                  });
                });
                if (groupings.length > 0) {
                  let base = element
                  base.showGroupLabel = true
                  base.groupings = groupings
                  newData.push(base)
                }
              } else if (element.name === 'Mini Form' && element.value) {
                let tempContact = []
                element.options = element.options.filter(function(val) {
                  return Object.keys(val).length !== 0;
                });
                element.options.forEach(element3 => {
                  if ((element.value.toLowerCase()).trim() === (element3.label.toLowerCase()).trim()) {
                    console.log(element.value.toLowerCase(), '===', element3.label.toLowerCase())
                    if (element3.name) {
                      tempContact.push({label: 'Name', value: element3.name, isShowOnInvoice: true, hasIcon: {text:''}})
                    } else {
                      tempContact.push({label: 'Name', value: element3.firstName+' '+element3.lastName, isShowOnInvoice: true, hasIcon: {text:''}})
                    }
                    if (element3.phone) {
                      console.log('phone')
                      tempContact.push({label: 'Phone', value: element3.phone, isShowOnInvoice: true, hasIcon: {text:''}})
                    }
                    if (element3.email) {
                      console.log('email')
                      tempContact.push({label: 'Email', value: element3.email, isShowOnInvoice: true, hasIcon: {text:''}})
                    }
                  }
                });
                element.label = 'Contact Person'
                element['showGroupLabel'] = true
                element.groupings = tempContact
                newData.push(element)
                console.log('Mini Forms',element)
              } else if (element.name === 'Divider') {
                newData.push(element)
              } else {
                if (element.value && form.isShowOnInvoice && !form.isHidden) {
                  if (element.name === 'Select Date') {
                    element.value = moment(element.value).format('YYYY-MM-DD')
                  }
                  newData.push(element)
                }
              }
            }
          });
				});
			}
			console.log('setFormSettings',newData)
			return newData
		},
    viewPdf: function () {
      console.log('view pdf invoice id', this.invoice_id)
      var id = this.invoice_id;
      var url = "/client-invoice/schedeasy/" + id;
      // var url = "/client-invoice/lifemaideasy/" + id;
      window.open(url, "_blank");
    },
		setLineItems() {
			this.lineItemsContainer.lineItems = []
			this.invoice_items.forEach((element,index) => {
				if (element.isLineItem) {
					console.log('line item',index)
					this.lineItemsContainer.lineItems.push(element)
				}
			});
		},
    saveBatchInvoiceWithMail () {
			this.loading = true
			if (this.invoice.recipient) {
				this.send_type = "send";
				this.setLineItems()
				this.showEditEmail = true
				this.isWithEmail = true
				this.loading = false
				// this.createInvoice();
			} else {
				this.loading = false
				swal("Warning!", "Please enter a recipient!", "warning").then((value) => {});
			}
    },
    saveBatchInvoice: function () {
			if (this.invoice_items.length > 0) {
				this.send_type = "save";
				this.isWithEmail = false
				this.createInvoice();
			} else {
				swal("Warning!", "Please enter atleast one job!", "warning").then((value) => {});
			}
    },
		handleSend(val) {
			this.showEditEmail = false
			this.email = val
			console.log('email',val)
			this.createInvoice()
		},
    createInvoice: function () {
      var formData = new FormData();
      this.loading = true;
      var prefix = this.invoice;

			// NEW FORMDATA WITH EMAIL
			if (this.isWithEmail) {
				formData.append('to',JSON.stringify(this.email.to));
				formData.append('cc',JSON.stringify(this.email.cc));
				formData.append('bcc',JSON.stringify(this.email.bcc));
				formData.append('message_body',this.email.message);
				formData.append('subject' , this.email.subject)
        this.loadingText = 'Sending invoice details, please wait...'
			} else {
        this.loadingText = 'Saving invoice details, please wait...'
      }

      formData.append("send_type", this.send_type);
      formData.append("id", this.id);
      formData.append("item_id", this.item_id);
      formData.append("invoice_id", this.invoice_id);
      formData.append("type_of_tax", this.type_of_tax);
      formData.append("type_of_tax_value", this.type_of_tax_value);

      formData.append("invoice_type", "batch");
      formData.append("batch_notes", this.batch_notes);
      formData.append("batch_discount", this.batch_discount);
      formData.append("batch_balance_due", this.batch_balance_due);
      formData.append("batch_paid", this.batch_paid);
      formData.append("batch_subtotal", this.batch_subtotal);
      formData.append("batch_tax", this.batch_tax);
      formData.append("batch_total_due", this.batch_total_due);
      formData.append("invoice_items", JSON.stringify(this.invoice_items));
      formData.append("recipient_id", prefix.recipient_id);
      formData.append("date_issue", moment(prefix.date_issue).format('yyyy-MM-DD'));
      formData.append("due_date", moment(prefix.due_date).format('yyyy-MM-DD'));
      formData.append("payment_status", prefix.payment_status);
      formData.append("payment_method", prefix.payment_method);
      formData.append("payments", JSON.stringify(prefix.payments));

      formData.append("vc_id", this.vc_id);
      formData.append("vc_value", this.vc_value);

      axios.post("invoice/createBatchInvoice", formData).then((response) => {
				console.log(response)
        this.loading = false;
        if (response.data.status == "fail") {
          var error_message = response.data.body;

          // for (var i = 0; i < error_message.length; i++) {
          // 	var err_message = error_message[i]
          // }

          swal(
            "Ooops!",
            " " + error_message + "\n ",
            "error"
          ).then((value) => {});
					this.loading = false;
        }
        if (response.data.status == "success") {
					var msg = ''
					if (this.isWithEmail) {
						msg = "Successfully sent invoice!";
					} else {
						if (this.id == "") {
							msg = "Successfully created invoice!";
						} else {
							msg = "Successfully updated invoice!";
						}
					}
					this.getInvoiceDetails();
          swal("Success!", " " + msg + " ", "success").then((value) => {});

          if (this.id == "") {
            this.clearData();
          }
        }
      }).catch(err=>{
        this.loading = false;
				this.toToasterWarning('Warning',err.message)
			})
    },
    clearData: function () {
      var prefix = this.invoice;
      this.id = "";
      this.item_id = "";
      this.type_of_tax = "";
      this.tax_id = 0;
      this.batch_notes = "";
      this.batch_balance_due = "0";
      this.batch_paid = "0";
      this.batch_subtotal = "0";
      this.batch_tax = "0";
      this.batch_total_due = "0";
      this.invoice_items = [];
      prefix.recipient_id = "";
      prefix.cus_id = "";
      prefix.date_issue = "";
      prefix.due_date = "";
      prefix.payment_status = "";
      prefix.recipient = "";
      prefix.links = [];
      prefix.results = [];
      prefix.email = "";
      prefix.recipient_rate = "";
      prefix.recipient_name = "";
      prefix.company = ''
      prefix.recipient_id = "";
      prefix.address = "";
    },
    customAddItem: function () {
      this.tax_temp = 0
      var prefix = this.inv_items;
      var description = prefix.description;
      var tax_status = prefix.tax_status;
      var tax_type_id = parseInt(this.invoiceSettings.tax_default,10) || 0
      let index = this.$_.findIndex(this.invoiceSettings.tax_data,{id:tax_type_id})
      if (index != -1) {
        var tax_value = this.invoiceSettings.tax_data[index].value
      } else {
        var tax_value = 0
      }
      var id = this.getOptionID();
      var job_id = prefix.job_id;
      var discount = prefix.discount
      var job_type = prefix.job_type;
      var inv_type = prefix.inv_type;
      var qty_hrs = prefix.qty_hrs;
      var rate = prefix.rate;
      var service_date = prefix.service_date;
      var total_rate = prefix.total_rate;
      var isLineItem = true;

      this.invoice_items.push({
        description,
        tax_status,
        tax_type_id,
        tax_value,
        id,
        job_id,
        discount,
				job_type,
				inv_type,
        qty_hrs,
        rate,
        service_date,
        total_rate,
				isLineItem,
      });

      prefix.description = "";
      prefix.tax_status = "";
      prefix.id = "";
      prefix.job_id = "";
      prefix.job_type = "";
      prefix.discount = 0;
      prefix.qty_hrs = 1;
      prefix.rate = 0;
      prefix.service_date = "";
      prefix.total_rate = '0.00';

      console.log('adding new line', this.inv_items)
    },
		getOptionID() {
			let max = this.invoice_items.length;
			let highest = 0;

			for (let i = 0; i < max; i++) {
				if (!highest || highest < this.invoice_items[i].id) {
					highest = this.invoice_items[i].id
				}
			}
			highest += 1;
			return highest
		},
    getSubtotal: function () {
      var tax_data = this.invoiceSettings.tax_data
      var new_items = this.invoice_items;
      var subtotal_array = [];
      var tax_array = [];
      var discount_array = []
      var total_due_array = [];
      var total_amount_array = []

      // console.log('getsubtotal new items', new_items)

      new_items.forEach(item=>{
      	var tax_data = this.invoiceSettings.tax_data
      	tax_data.forEach(data =>{
          if (data.id == item.tax_type_id) {

	          var tax_per = data.value / 100

	          var temp_total = item.rate * item.qty_hrs

	          this.tax_temp = temp_total * tax_per

	          // console.log('mao ni ang tax new function', this.tax_temp)
	        }

        })

        tax_array.push(parseFloat(this.tax_temp));

        discount_array.push(parseFloat(item.discount || 0));

        total_amount_array.push(parseFloat(item.total_rate));

        var sub_rate = item.rate * item.qty_hrs

        subtotal_array.push(parseFloat(sub_rate));

      })

      // console.log('tax_array', tax_array)
      var all_discount = discount_array.reduce((a, b) => a + b, 0);

      this.batch_discount = all_discount

      // console.log('mao ni var all_discount', all_discount)

      var subtotal = subtotal_array.reduce((a, b) => a + b, 0);

      // console.log('mao ni var subtotal', subtotal)

      var batch_tax = tax_array.reduce((a, b) => a + b, 0);

      // console.log('mao ni var batch_tax', batch_tax)

      var batch_subtotal = subtotal

      var total_amount_no_tax = total_amount_array.reduce((a, b) => a + b, 0);

      var total_amount = total_amount_no_tax + batch_tax - this.batch_discount - this.voucherValue

      total_amount = this.$_.round(total_amount, 2)
      console.log('all in all total', total_amount)
      // _.round(4.006, 2);
      // console.log('mao ni var total_amount', total_amount)

      // console.log('mao ni batch subtotal', batch_subtotal)
      // this.batch_total_due = total_due_array.reduce((a, b) => a + b, 0)

      // var batch_total_due = batch_subtotal
      this.batch_paid = 0
      this.invoice.payments.forEach(element => {
        console.log('amount',element.amount)
        this.batch_paid += element.amount
      });
      console.log('batch payment',this.batch_paid)

      var batch_balance_due = total_amount - this.batch_paid;

      this.batch_tax = Number(batch_tax.toFixed(2));

      this.batch_subtotal = Number(batch_subtotal.toFixed(2)); // Subtotal

      this.batch_total_due = Number(total_amount.toFixed(2)); // Total Amount

      this.batch_balance_due = Number(batch_balance_due.toFixed(2)); // Balance Due

      this.invoice['batch_subtotal'] = this.formatCurrency(this.batch_subtotal)
      this.invoice['batch_discount'] = this.formatCurrency(this.batch_discount)
      this.invoice['voucherValue'] = this.formatCurrency(this.voucherValue)
      this.invoice['batch_tax'] = this.formatCurrency(this.batch_tax)
			this.invoice['batch_total_due'] = this.formatCurrency(this.batch_total_due)
			this.invoice['batch_balance_due'] = this.formatCurrency(this.batch_balance_due)
    },

    addItemsToInvoice: function () {
      this.addLoading = true;
      let invoiceData = this.multipleSelection;

			this.multipleSelection.forEach(element => {
        element.tax_type_id = parseInt(this.invoiceSettings.tax_default,10) || 0
				this.tempList.push(element)
			});

      var current_items = this.invoice_items;
      var new_coming_items = this.multipleSelection;
      var new_items = current_items.concat(new_coming_items);

      this.invoice_items = new_items;

      console.log('add items invoice_items', this.invoice_items)
			this.insertOtherDetails()
      console.log('tempList', this.tempList)
      // var subtotal_array = []
      // for (var i = 0; i < new_items.length; i++) {
      // 	// new_items[i]
      // 	if (new_items[i].tax_status == true) {
      // 		var tax = new_items[i].total_rate * 1.05
      // 		new_items[i].total_rate = Number(tax.toFixed(2))
      // 	}

      // 	// subtotal_array.push(new_items[i].total_rate)

      // }

      this.getSubtotal();

      // this.batch_subtotal = subtotal_array.reduce((a, b) => a + b, 0)
      // console.log('subtotal here')
      // console.log(this.batch_subtotal)
      // this.invoice_items.push(invoiceData)
      this.multipleSelection = [];
      // this.invoice_items = this.multipleSelection
      console.log('invoice items',this.invoice_items);
      this.addLoading = false;
      this.viewJobItems = false;
    },
    updateItem: function (item) {
      // console.log('invoice items dri', item);
      // console.log('all items', this.invoice_items)
      // console.log(item.rate);
      // var total_rate = item.rate * item.qty_hrs - item.discount;

      var inv_items = this.invoice_items

      var tax_data = this.invoiceSettings.tax_data

      tax_data.forEach(data =>{
        if (data.id === item.tax_type_id) {
          // var tax_per_dec = "."+data.value
          //  console.log('mao ni ang tax percentage', tax_per_dec)
          var tax_per = parseInt(data.value) / 100
          // console.log('parseInt(data.value)', parseInt(data.value))

          this.tax_temp = item.rate * tax_per

          // this.tax_temp = intToFloat(this.tax_temp, 2);
          // console.log('item.total_rate * tax_per', item.total_rate, '*', tax_per)

          for (var i = 0; i < inv_items.length; i++) {
          	inv_items[i].tax_value = data.value
          }

        }
      })

      // console.log('new result all items', this.invoice_items)
      var total = item.qty_hrs * item.rate;

      var total_rate = total

      // console.log('mao ni ang total rate updated naaa', total_rate)
      item.total_rate = intToFloat(total_rate, 2);

      // if (item.tax_status == true) {
      //    var total_w_tax = total * 1.05
      //    item.total_rate = Number(total_w_tax.toFixed(2))
      // }else{
      //  	item.total_rate = total
      // }

      this.getSubtotal();
      this.handleVoucherSelect(this.selectedVoucher)
      // console.log(this.invoice_items);
    },
    removeItem: function (item) {
      this.invoice_items.splice(this.invoice_items.indexOf(item), 1);
      console.log(this.invoice_items);
      this.getSubtotal();
			this.tempList.splice(this.tempList.indexOf(item),1)
			if (this.viewJobItems){
				this.viewAllItems()
			}
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
      console.log(this.multipleSelection);
    },
    viewAllItems: function () {
      if (this.invoice.recipient_id == "") {
        swal("Ooops!", "Please Input Recipient", "error").then((value) => {});
      } else {
        this.viewJobItems = true;
				this.addLoading = true
        var id = this.invoice.recipient_id;

        axios.get("invoice/getItemsById/" + id).then((response) => {
          this.all_items_data = response.data.items
					let tempIndexes = []
					this.all_items_data.forEach((item, index, object) => {
						if (this.$_.findIndex(this.tempList,{id:item.id}) != -1) {
							console.log('findIndex',this.$_.findIndex(this.tempList,{id:item.id}))
							console.log('allitems id',item.id)
							tempIndexes.push(item.id)
						}
					});
					this.all_items_data = this.$_.remove(this.all_items_data, function(n) {
  					return !tempIndexes.includes(n.id);
					})
					console.log('items data',this.all_items_data);
					this.addLoading = false
        });
      }
    },
    deleteDetails: function () {
      this.$confirm("Do you want to delete this invoice?", "Confirm", {
        distinguishCancelAndClose: true,
        confirmButtonText: "Yes",
        cancelButtonText: "Not now",
      }).then(() => {
        this.deleteInvoice();
      }).catch((action) => {
        this.$message({
          type: "info",
          message:"Delete canceled"
        });
      });
    },
    deleteInvoice: function () {
      this.$prompt("Please type delete to confirm", "Warning", {
        confirmButtonText: "Confirm",
        cancelButtonText: "Cancel",
      }).then(({ value }) => {
        if (value == "delete") {
          this.loading = true;
          axios.post("invoice/deleteInvoice/" + this.id).then((response) => {
            if (response.data.status == "success") {
              this.$message({
                type: "success",
                message: "Invoice is successfully deleted the invoice.",
              });
              this.loading = false;
              this.$emit('delete-success')
            }
          }).catch(err=> {
            this.toToasterWarning('Opps!',err)
          })
        } else {
          this.$message({
            type: "info",
            message: "Invalid input",
          });
        }
      }).catch(() => {
        this.$message({
          type: "info",
          message: "Delete canceled",
        });
      });
    },
    formatCurrency(value) {
      let val = (value / 1).toFixed(2).replace(",", ".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
		disableEnd (date) {
			let starting = new Date(this.invoice.date_issue);
			starting.setDate(starting.getDate())
			return date < new Date(starting)
		}
  },
};
</script>
<style>
.data_color {
  color: red;
}
.payment-form {
  position: relative;
}
.payment-form .paid-pos {
  position: absolute;
  left: 80px;
  right: 0;
  bottom: -125px;
  z-index: 99;
}
.row-expand-cover .el-table__expand-icon{
  visibility:hidden;
}
</style>