<template>
  <div style="width: 80%;margin: auto;">
	<div v-if="message_body" style="border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 12px;" v-html="message_body"></div>

    <div style="
			height: 100%;
			width: 100%;
			font-family: tahoma regular;
			min-width: 100%;
			margin: 0;
			padding: 0;
			font-size: large;">
	<table style="width: 100%;">
      <tr>
        <td class="img-holder-td" style="text-align: center;">
          <img style="width: 350px" :src="form.promo_header_img" alt="">
        </td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <h3
            style="margin: 0px!important;color:#53C609; font-size: 20px; font-family: sans-serif;">
            Sent you an Invoice</h3>
        </td>
      </tr>
    </table>

    <table align="center" border="0" cellpadding="10"
      style="margin-top:25px;font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
      <tr>
        <td style="width: 30%;">
			To:<br />
            <p>
              <b>{{ invoice.client }}</b> <br />
              <span v-if="invoice.company"> <b>{{ invoice.company }}</b> <br /> </span>
							{{ invoice.billing_address_data.street }}, {{ invoice.billing_address_data.street_two }}, {{ invoice.billing_address_data.city }}<br />
							{{ invoice.billing_address_data.territory }}, {{ invoice.billing_address_data.postal_code }}, {{ invoice.billing_address_data.country }}
            </p>
        </td>
        <td> </td>
        <td style="width: 50%;">
			From:<br />
            <p>
              <b>{{ form.company_name }} </b><br />
              {{ form.invoice_comp_street }}, {{ form.invoice_comp_street_two }}, {{ form.invoice_comp_city }} <br />
              {{ form.invoice_comp_territory }} {{ form.invoice_comp_postal_code }}, {{ form.invoice_comp_country }}
            </p>
        </td>
      </tr>
		<tr>
			<td>
				<table style="width: 100%;!important">
					<tr>
						<td>Invoice number: </td>
						<td><b>{{invoice.invoice_id}}</b></td>
						</tr>
						<tr>
						<td style="width: 100px;">Due on:</td>
						<td style="width: 100px;"><b>{{invoice.due_date}}</b></td>
						</tr>
						<tr>
						<td >Payment Status: </td>
						<td style="width: 100px;"><b>{{invoice.payment_status}}</b></td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center">
								<div><img width="300px" style src="https://lme.schedeasy.net/images/invoice_images/status_pending.png"></div>
							</td>
						</tr>
				</table>
			</td>
			<td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
			<td rowspan="2" style="vertical-align: baseline;">
				<table style="width: 100%;!important">
					<tr>
					<td>Subtotal: </td>
					<td>&nbsp;</td>
					<td style="text-align: right;"><b >$ {{invoice.subtotal}}</b></td>
					</tr>
					<tr>

					<td>Total Discount:  </td>
					<td>&nbsp;</td>
					<td style="text-align: right;"><b style="color: green;">$ {{invoice.discount}}</b></td>
					</tr>
					<tr>
					<td>Voucher Discount: </td>
					<td>&nbsp;</td>
					<td style="text-align: right;"><b style="color: green;">$ {{invoice.vc_value}}</b></td>
					</tr>
					<tr>
					<td>Total Tax: </td>
					<td>&nbsp;</td>
					<td style="text-align: right;"><b style="color: red;">$ {{invoice.tax}}</b></td>
					<tr>
					<td>Payments: </td>
					<td>&nbsp;</td>
					<td></td>
					</tr>
					<tr v-for="(pay,index) in invoice.payments" :key="index">
						<td style="padding-left:20px">{{pay.date}}</td>
						<td>&nbsp;</td>
						<td style="text-align: right;"> <b style="color: green;">$ {{formatCurrency(pay.amount)}}</b> </td>
					</tr>
					<tr>
					<td>Total Amount: </td>
					<td>&nbsp;</td>
					<td style="text-align: right;"><b style="">$ {{invoice.total_due}}</b></td>
					</tr>
					<tr>
					<td>Balance Due: </td>
					<td>&nbsp;</td>
					<td style="text-align: right;"><b style="">$ {{invoice.balance_due}}</b></td>
					</tr>
				</table>
			</td>
		</tr>
    </table>
	<!-- mana ang babaw -->
	<div v-if="lineItemsContainer && lineItemsContainer.lineItems.length > 0" style="font-size:16px; border-collapse: collapse; background: rgb(255, 255, 255); border-radius: 5px; width: 100%; margin-top: 30px;font-family: sans-serif;">
		<table v-for="(line,index) in lineItemsContainer.lineItems" :key="index" align="center" border="0" cellpadding="8" style="width: 100%;">
			<tr style="color:#000">
				<th style="width: 8%;">Qty/Hr</th>
				<th style="width: 17%;">Service</th>
				<th style="width: 16%;">Service Date</th>
				<th style="width: 16%;">Discount</th>
				<th style="width: 16%;">Rate</th>
				<th style="width: 16%;">Amount</th>
				<th style="width: 10%;">Tax</th>
			</tr>
			<tr>
				<td style="text-align: center;">{{line.qty_hrs}}</td>
				<td style="text-align: center;">{{line.job_type}}</td>
				<td style="text-align: center;">{{line.service_date}}</td>
				<td style="text-align: right;" >$ {{line.discount}}</td>
				<td style="text-align: right;">$ {{line.rate}}</td>
				<td style="text-align: right;">$ {{line.total_rate}}</td>
				<td style="text-align: right;">{{ line.tax_value }} % </td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: left;"> <b>Descriptions :</b></td>
				<td colspan="4" ><p style="text-align: justify; padding-left:20px;" v-html="textAreaConvert(line.description)"></p></td>
			</tr>
		<!-- static pani -->
		</table>
	</div>
<!-- wala payt ubos -->

	<div v-for="(item,index) in invoice_items" :key="index" style="-webkit-filter: drop-shadow(1px 1px 2px #9f9f9f); font-size:16px; border-collapse: collapse; background: rgb(255, 255, 255); border-radius: 5px; padding:14px; margin-top: 30px;font-family: sans-serif;">
		<table v-if="!item.isLineItem" align="center" border="0" cellpadding="8" style="width: 100%;">
			<tr style="color:#000">
				<th style="width: 8%;">Qty/Hr</th>
				<th style="width: 17%;">Service</th>
				<th style="width: 16%;">Service Date</th>
				<th style="width: 16%;">Discount</th>
				<th style="width: 16%;">Rate</th>
				<th style="width: 16%;">Amount</th>
				<th style="width: 10%;">Tax</th>
			</tr>
			<tr>
				<td style="text-align: center;">{{item.qty_hrs}}</td>
				<td style="text-align: center;">{{item.job_type}}</td>
				<td style="text-align: center;">{{item.service_date}}</td>
				<td style="text-align: right;">$ {{item.discount}}</td>
				<td style="text-align: right;">$ {{item.rate}}</td>
				<td style="text-align: right;">$ {{item.total_rate}}</td>
				<td style="text-align: right;">{{ item.tax_value }} % </td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: left;"> <b>Descriptions :</b></td>
				<td colspan="4" ><p style="text-align: justify; padding-left:20px;" v-html="textAreaConvert(item.description)"></p></td>
			</tr>
			<!-- static pani -->
			<tr style="border-bottom: 1px solid rgb(228, 228, 228);">
				<td colspan="8">
					<table style="width: 100%;" >
						<tr>
							<td v-if="item.jobOtherInfo && item.jobOtherInfo.length > 0" valign="top" class="table-service" style="width:45%; padding-left:20px">
								<table style="margin:auto">
									<tr><td><b>Associated Job Details:</b></td></tr>
									<tr v-for="(otherInfo,index1) in item.jobOtherInfo" :key="index1">
										<td v-if="otherInfo.name === 'Groupings with Label' || otherInfo.name === 'Mini Form'">
											<b v-if="otherInfo.showGroupLabel">{{otherInfo.label}}</b>
											<div style="margin-left:1.5rem" v-for="(group,index2) in otherInfo.groupings" :key="index2">
												<span v-if="group.isShowOnInvoice && group.value">
													<b>{{ group.label +':'}}</b> {{group.value}}
												</span>
												<div v-if="group.name === 'Divider'"
														style="display: block; height: 1px; width: 100%; margin: 24px 0; background-color: #DCDFE6; position: relative;">
												</div>
											</div>
										</td>
										<td v-else>
												<span v-if="otherInfo.isShowOnInvoice && otherInfo.value">
													<b>{{ otherInfo.label +':'}}</b> {{otherInfo.value}}
												</span>
												<div v-if="otherInfo.name === 'Divider'"
													style="display: block; height: 1px; width: 100%; margin: 24px 0; background-color: #DCDFE6; position: relative;">
												</div>
										</td>
									</tr>
								</table>
							</td>
							<td>&nbsp;</td>
							<td v-if="item.servOtherInfo && item.servOtherInfo.length > 0" valign="top" class="table-service">
								<table style="margin:auto">
									<tr><td><b>Service Location info:</b></td></tr>
									<tr v-for="(otherInfo,index1) in item.servOtherInfo" :key="index1">
										<td v-if="otherInfo.name === 'Groupings with Label' || otherInfo.name === 'Mini Form'">
												<b v-if="otherInfo.showGroupLabel">{{otherInfo.label}}</b>
												<div style="margin-left:1.5rem" v-for="(group,index2) in otherInfo.groupings" :key="index2">
													<span v-if="group.isShowOnInvoice && group.value">
														<b>{{ group.label +':'}}</b> {{group.value}}
													</span>
													<div v-if="group.name === 'Divider'"
														style="display: block; height: 1px; width: 100%; margin: 24px 0; background-color: #DCDFE6; position: relative;">
													</div>
												</div>
										</td>
										<td v-else>
												<span v-if="otherInfo.isShowOnInvoice && otherInfo.value">
													<b>{{ otherInfo.label +':'}}</b> {{otherInfo.value}}
												</span>
												<div v-if="otherInfo.name === 'Divider'"
													style="display: block; height: 1px; width: 100%; margin: 24px 0; background-color: #DCDFE6; position: relative;">
												</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		<!-- static pani -->
		</table>
	</div>
	<div v-if="invoice.batch_notes" style="text-align: center;margin-top:20px">
		Notes: {{invoice.batch_notes}}
	</div>

	<div v-if="form.invoice_comp_footer_descriptions" style="border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 12px; margin-top:20px" >
		<span v-html="form.invoice_comp_footer_descriptions"></span>
	</div>

      <center>
        <div class="img-container" style=" margin-top:20px">
			<img :src="form.promo_footer_img" style="width: 100%;" />
        </div>
      </center>
    </div>
  </div>
</template>

<script>

export default {
  components: {},
  props: ['lineItemsContainer',],
  data() {
    return {
		message_body:"helloo",
		invoice_items: [
    {
        "id": 38,
        "job_id": "1000025",
        "qty_hrs": 1,
        "job_type": "Standard",
        "service_date": "2021-08-12",
        "description": "null",
        "discount": 0,
        "rate": 1,
        "jobOtherInfo": [
            {
                "id": 3,
                "label": "AB",
                "placeholder": "AB",
                "name": "Text Field",
                "hasIcon": {
                    "name": "",
                    "text": "",
                    "toggle": true
                },
                "isChecked": false,
                "isDisabled": false,
                "isHidden": false,
                "isRequired": false,
                "isSearchable": true,
                "isShowOnInvoice": true,
                "isEditableByMobile": true,
                "hasRemove": false,
                "options": [
                    {
                        "name": "Change option",
                        "id": 0,
                        "hasDelete": true
                    }
                ],
                "groupings": [],
                "value": "eq",
                "selected": null
            },
            {
                "id": 4,
                "label": "Change label",
                "placeholder": "Change placeholder",
                "name": "Groupings with Label",
                "hasIcon": {
                    "name": "",
                    "text": "",
                    "toggle": true
                },
                "isChecked": false,
                "isDisabled": false,
                "isHidden": false,
                "isRequired": false,
                "isSearchable": false,
                "isShowOnInvoice": false,
                "isEditableByMobile": false,
                "hasRemove": false,
                "options": [
                    {
                        "name": "Change option",
                        "id": 0,
                        "hasDelete": true
                    }
                ],
                "groupings": [
                    {
                        "id": 1,
                        "label": "ggg",
                        "placeholder": "gg",
                        "name": "Text Field",
                        "hasIcon": {
                            "name": "",
                            "text": "",
                            "toggle": true
                        },
                        "isChecked": false,
                        "isDisabled": false,
                        "isHidden": false,
                        "isRequired": false,
                        "isSearchable": true,
                        "isShowOnInvoice": true,
                        "isEditableByMobile": true,
                        "hasRemove": false,
                        "options": [
                            {
                                "name": "Change option",
                                "id": 0
                            }
                        ],
                        "groupings": [],
                        "value": "we",
                        "selected": null
                    }
                ],
                "value": null,
                "selected": null,
                "setFormSettings": true,
                "showGroupLabel": true
            }
        ],
        "servOtherInfo": [
            {
                "id": 3,
                "label": "Change label",
                "placeholder": "0",
                "name": "Number Field",
                "hasIcon": {
                    "name": "",
                    "text": "",
                    "toggle": true
                },
                "isChecked": false,
                "isDisabled": false,
                "isHidden": false,
                "isRequired": false,
                "isSearchable": true,
                "isShowOnInvoice": true,
                "isEditableByMobile": false,
                "hasRemove": false,
                "options": [
                    {
                        "name": "Change option",
                        "id": 0,
                        "hasDelete": true
                    }
                ],
                "groupings": [],
                "value": "2243",
                "selected": null
            },
            {
                "id": 5,
                "label": "Change label",
                "placeholder": "Change placeholder",
                "name": "Divider",
                "hasIcon": {
                    "name": "",
                    "text": "",
                    "toggle": true
                },
                "isChecked": false,
                "isDisabled": false,
                "isHidden": false,
                "isRequired": false,
                "isSearchable": false,
                "isShowOnInvoice": false,
                "isEditableByMobile": false,
                "hasRemove": false,
                "options": [
                    {
                        "name": "Change option",
                        "id": 0
                    }
                ],
                "groupings": [],
                "value": null,
                "selected": null
            },
            {
                "id": 7,
                "label": "drop down",
                "placeholder": "choose",
                "name": "Drop Down Options",
                "hasIcon": {
                    "name": "",
                    "text": "",
                    "toggle": true
                },
                "isChecked": false,
                "isDisabled": false,
                "isHidden": false,
                "isRequired": false,
                "isSearchable": true,
                "isShowOnInvoice": true,
                "isEditableByMobile": true,
                "hasRemove": true,
                "options": [
                    {
                        "name": "1",
                        "id": 0,
                        "hasDelete": true
                    }
                ],
                "groupings": [],
                "value": "1",
                "selected": null
            },
            {
                "id": 4,
                "label": "group 1",
                "placeholder": "Change placeholder",
                "name": "Groupings with Label",
                "hasIcon": {
                    "name": "",
                    "text": "",
                    "toggle": true
                },
                "isChecked": false,
                "isDisabled": false,
                "isHidden": false,
                "isRequired": false,
                "isSearchable": false,
                "isShowOnInvoice": false,
                "isEditableByMobile": false,
                "hasRemove": false,
                "options": [
                    {
                        "name": "Change option",
                        "id": 0,
                        "hasDelete": true
                    }
                ],
                "groupings": [
                    {
                        "id": 1,
                        "label": "garden",
                        "placeholder": "garden",
                        "name": "Text Field",
                        "hasIcon": {
                            "name": "",
                            "text": "",
                            "toggle": true
                        },
                        "isChecked": false,
                        "isDisabled": false,
                        "isHidden": false,
                        "isRequired": false,
                        "isSearchable": true,
                        "isShowOnInvoice": true,
                        "isEditableByMobile": true,
                        "hasRemove": false,
                        "options": [
                            {
                                "name": "Change option",
                                "id": 0
                            }
                        ],
                        "groupings": [],
                        "value": "yes",
                        "selected": null
                    }
                ],
                "value": null,
                "selected": null,
                "setFormSettings": true,
                "showGroupLabel": true
            }
        ],
        "total_rate": "1.00",
        "tax_type_id": 0,
        "tax_value": "0",
        "tax_status": true,
        "inv_type": "by_job"
    }
  ],
		invoice:
		{
  "vc_id": null,
  "vc_value": "0.00",
  "voucher_data": null,
  "message_body": "heloo",
  "company": "mcdo",
  "data_type": "new",
  "id": 12,
  "item_id": "12",
  "invoice_id": "200008",
  "invoice_items": [
    {
      "id": 27,
      "job_id": "1000017",
      "qty_hrs": "1",
      "job_type": "Standard",
      "service_date": "2021-07-31",
      "description": "null",
      "discount": "0",
      "rate": "0.00",
      "total_rate": "0.00",
      "tax_type_id": "0",
      "tax_value": 0,
      "tax_status": true,
      "inv_type": "by_job",
	  "jobOtherInfo":[
		  {
			"name":"Groupings with Label",
			"showGroupLabel":"Test",
			"label":"test",
		  },
		  {
			"name":"Mini Form",
			"showGroupLabel":"Testing",
			"label":"sseee",
		  },
	  ]
    }
  ],
  "date_issue": "2021-08-06",
  "due_date": "2021-08-06",
  "balance_due": "0.00",
  "total_due": "0.00",
  "type_of_tax": "0",
  "payments": [
	  {date: "02-21-21",amount:"200.00"},
	  {date: "02-21-21",amount:"400.00"}

  ],
  "paid": "0.00",
  "tax": "0.00",
  "discount": "0.00",
  "subtotal": "0.00",
  "total_amount": "0.00",
  "notes": null,
  "payment_method": "Visa",
  "payment_status": "PENDING",
  "invoice_status": "GENERATE",
  "invoice_add_status": "0",
  "client_id": 1,
  "client_profile_id": "2158586512",
  "client": "Customer 01",
  "client_email": "customer01@asd.asd",
  "mobile": "(213)-546-3513",
  "mobileOther": [
    {
      "number": "(135)-843-6456",
      "name": "mcdo 2",
      "email": "",
      "active": "Active"
    }
  ],
  "street": "3356 Nelson Street",
  "street_two": "DF534",
  "city": "Connaught",
  "territory": "Ontario",
  "postal_code": "P0N 1A0",
  "billing_address_data": {
    "id": 2,
    "fran_id": "1626926767",
    "user_id": "NO",
    "street": "3356 Nelson Street",
    "street_two": "DF534",
    "city": "Connaught",
    "abv": null,
    "territory": "Ontario",
    "postal_code": "P0N 1A0",
    "country": "Canada",
    "type": "billing",
    "notes": null,
    "status": "1",
    "created_at": "2021-07-21 22:33:37",
    "updated_at": "2021-07-21 22:33:37",
    "cus_id": "1"
  },
  "batch_notes":"notes",
  "footer_notes":"thisis note for footer",

  "billing_address": "3356 Nelson Street, DF534, Connaught, Ontario, P0N 1A0, Canada"
},
      protocol: window.location.protocol,
      url: window.location.hostname,
      item: [],
      form: {
        invoice_payment_types: '',
        invoice_comp_logo_img: '',
        invoice_comp_street: '',
        invoice_comp_city: '',
        invoice_comp_territory: '',
        invoice_comp_postal_code: '',
        invoice_comp_country: '',
        invoice_comp_contact: '',
				invoice_website: '',
				company_name: '',
				tax_rate: '',
				promo_header_img: '',
				promo_footer_img: ''
      },
      blank: {
        blank: true,
        center: true,
        class: 'thumbnail-custom',
        width: '100%',
        height: 200
      },
      configBanner: {
        center: true,
        class: 'thumbnail-custom',
        width: 'auto',
        height: 200
      },
      configLogo: {
        center: true,
        class: 'thumbnail-custom',
        width: 'auto',
        height: 50
      },
			fran_id_value: null,
    };
  },
//   created() {
// 		this.fran_id_value = this.$route.params.fran_id;
// 		console.log('fran_id_value',this.fran_id_value)
//     this.getform();
//   },
// 	mounted() {
// 		console.log('invoice data',this.invoice)
// 		console.log('lineItemsContainer',this.lineItemsContainer)
// 		this.toAddressLine2()
// 	},
  methods: {
    formatCurrency(value) {
      let val = (value / 1).toFixed(2).replace(",", ".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
		textAreaConvert(val) {
			console.log('desc',val)
			if (val && val !== '') {
				return val.replaceAll(/\n/g, '<br />')
			}
		},
		getStatusImage(status) {
			if (status.toLowerCase() === 'paid') {
				return '/images/invoice_images/status_paid.png'
			} else if (status.toLowerCase() === 'unpaid') {
				return '/images/invoice_images/status_unpaid.png'
			} else if (status.toLowerCase() === 'prepaid') {
				return '/images/invoice_images/status_prepaid.png'
			} else if (status.toLowerCase() === 'pending') {
				return '/images/invoice_images/status_pending.png'
			} else if (status.toLowerCase() === 'denied') {
				return '/images/invoice_images/status_denied.png'
			}
		},
    setValues(val) {
      console.log('invoice form', val);
      if (Array.isArray(val)) {
        this.form.tax_rate = 0;
        this.form.promo_footer_img = '/images/logo-large.png';
        this.getCompanyData(true);
      } else {
        this.getCompanyData(false);
        this.loading = false;
        this.form = val;
      }
    },
    getform() {
      this.loading = true;
      axios.get(this.protocol + '//' + this.url + '/getInvoiceSettings/'+this.fran_id_value).then(response => {
        console.log('invoice data:', response.data);

        if (response.data.status === 'success') {
          let temp = response.data['invoiceSetting'];
          temp.invoice_payment_types = JSON.parse(temp.invoice_payment_types);
          this.setValues(temp);
        } else {
          this.setValues([]);
        }
      });
    },
    getCompanyData(useData) {
      axios.get(this.protocol + '//' + this.url + '/getInvoiceCompanyInfo/'+this.fran_id_value).then(response => {
        let temp = response.data.company_details;
        console.log('company data', temp);

        if (useData) {
          this.form.invoice_comp_street = temp.invoice_comp_street || '';
          this.form.invoice_comp_street_two = temp.invoice_comp_street_two || '';
          this.form.invoice_comp_city = temp.invoice_comp_city || '';
          this.form.invoice_comp_territory = temp.invoice_comp_territory || '';
          this.form.invoice_comp_postal_code = temp.invoice_comp_postal_code || '';
          this.form.invoice_comp_country = temp.invoice_comp_country || '';
          this.form.invoice_comp_contact = temp.invoice_comp_contact || '';
					this.form.promo_header_img = temp.invoice_crm_banner_image || '/images/logo-large.png';
					this.form.company_name = temp.company_name
          this.loading = false;
        } else {
					this.form.company_name = temp.company_name
          this.form.promo_header_img = temp.invoice_crm_banner_image || '/images/logo-large.png';
          console.log('usedata false');
          this.loading = false;
        }
				this.toAddressLine1()
      });
    },
		toAddressLine1() {
			this.form['addressLine1'] = []
			this.form['addressLine2'] = []
			if (this.form) {
				if (this.form.invoice_comp_street) {
					this.form['addressLine1'].push(this.form.invoice_comp_street)
				}
				if (this.form.invoice_comp_street_two) {
					this.form['addressLine1'].push(this.form.invoice_comp_street_two)
				}
				if (this.form.invoice_comp_city) {
					this.form['addressLine1'].push(this.form.invoice_comp_city)
				}

				if (this.form.invoice_comp_territory) {
					this.form['addressLine2'].push(this.form.invoice_comp_territory)
				}
				if (this.form.invoice_comp_postal_code) {
					this.form['addressLine2'].push(this.form.invoice_comp_postal_code)
				}
				if (this.form.invoice_comp_country) {
					this.form['addressLine2'].push(this.form.invoice_comp_country)
				}
			}
			console.log('form add1',this.form.addressLine1)
			console.log('form add2',this.form.addressLine2)
		},
		toAddressLine2() {
			this.invoice['addressLine1'] = []
			this.invoice['addressLine2'] = []
			if (this.invoice.billing_address_data) {
				if (this.invoice.billing_address_data.street) {
					this.invoice['addressLine1'].push(this.invoice.billing_address_data.street)
				}
				if (this.invoice.billing_address_data.street_two) {
					this.invoice['addressLine1'].push(this.invoice.billing_address_data.street_two)
				}
				if (this.invoice.billing_address_data.city) {
					this.invoice['addressLine1'].push(this.invoice.billing_address_data.city)
				}

				if (this.invoice.billing_address_data.territory) {
					this.invoice['addressLine2'].push(this.invoice.billing_address_data.territory)
				}
				if (this.invoice.billing_address_data.postal_code) {
					this.invoice['addressLine2'].push(this.invoice.billing_address_data.postal_code)
				}
				if (this.invoice.billing_address_data.country) {
					this.invoice['addressLine2'].push(this.invoice.billing_address_data.country)
				}
			}
			console.log('invoice add1',this.invoice.addressLine1)
			console.log('invoice add2',this.invoice.addressLine2)
		},
  }
};
</script>
<style>
.img-container {
  padding: 10px 0 10px 0;
}
.thumbnail-custom {
  padding: 0.25rem;
  background-color: #f8fafc;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.preivew-watermark {
	position: absolute;
	left: 42%;
	top: 27%;
	height: 300px;
}
.notes-table-2 {
	min-height: 100px;
	border-collapse: separate;
	background: #bfbfbf;
	color: #212529;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 20px auto;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	min-width:310px;
}
.notes-table-1 {
	min-height: 100px;
	border-collapse: separate;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 20px auto;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	min-width:310px;
}
</style>
