<template>
    <el-row style="width:80%; margin:auto; margin-top:20px">
        <el-col>
            <el-link style="margin-left:20px" @click="createPreset = true" :underline="false">Create preset<i class="el-icon-view el-icon--right"></i> </el-link>
            <dynamicTable
            :config="config"
            @generateReport="generate"
            ></dynamicTable>
            <el-dialog
                title="Create A Preset"
                :visible.sync="createPreset"
                width="50%"
                >
                <el-row style="margin-top:20px">
                    <el-col :span="12">
                           <span>Preset Name</span>
                          <el-input style="width:100%"  placeholder="Preset Name"></el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                          <span>Preset Table</span>
                          <el-select style="width:100%" placeholder="Select Table">

                            </el-select>
                    </el-col>
                </el-row>
                <el-row style="margin-top:20px">
                    <el-col :span="24">
                           <span>Preset Fields</span>
                          <el-select style="width:100%"  placeholder="Select Fields">

                            </el-select>
                    </el-col>
                </el-row>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="createPreset = false">Cancel</el-button>
                    <el-button type="primary" @click="createPreset = false">Save Preset</el-button>
                </span>
            </el-dialog>
        </el-col>
    </el-row>
</template>

<script>
import dynamicTable from "./dynamicTablev2.vue";

export default {
    components: {
        dynamicTable,
    },
    data(){
        return {
            createPreset:false,
            config:{
                filterSettings:{
                    searchDate:{
                        dateFilterBy:{},
                        dateOptions: [
                        { label: "Dates Test", value: "date_test" },
                        { label: "Dates Sold", value: "date_sold" },
                        ],
                    },
                    searchColumn:true,
                },
                reportMode:{
                    enabled:true,
                    enablePresetSave:true,
                    reportData:[
                        {
                            value:"jobs",
                            label:"Jobs",
                            data:[
                                {
                                sortable: true,
                                label: "Job ID",
                                value: "job_id",
                                type: "string",
                                },
                                {
                                label: "Date",
                                value: "date",
                                type: "date",
                                },
                                {
                                label: "Job Name",
                                value: "job_name",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Job Type",
                                value: "job_type",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Customer",
                                value: "client",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Location",
                                value: "address",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Team",
                                value: "team",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Staff",
                                value: "staff",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Franchise",
                                value: "franchise",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Average Hrs",
                                value: "ave_hrs",
                                type: "number",
                                },
                                {
                                sortable: true,
                                label: "Total Jobs",
                                value: "total_jobs",
                                type: "number",
                                },
                                {
                                sortable: true,
                                label: "Total Hrs",
                                value: "total_hrs",
                                type: "number",
                                },

                            ],
                        },
                        {
                            value:"invoice",
                            label:"Invoice",
                            data:[
                                {
                                sortable: true,
                                label: "Location",
                                value: "location",
                                type: "string",
                                },
                                {
                                sortable: true,
                                label: "Postal",
                                value: "postal",
                                type: "string",
                                },
                                    {
                                    sortable: true,
                                    label: "Invoice ID",
                                    value: "invoice_id",
                                    type: "string",
                                    },
                                    {
                                    sortable: true,
                                    label: "Billing Address",
                                    value: "billing_address",
                                    type: "string",
                                    },
                                    {
                                    sortable: true,
                                    label: "Invoice Status",
                                    value: "invoice_status",
                                    type: "string",
                                    },
                                    {
                                    sortable: true,
                                    label: "Payment Method",
                                    value: "payment_method",
                                    type: "string",
                                    },
                                    {
                                    sortable: true,
                                    label: "Payment Status",
                                    value: "payment_status",
                                    type: "string",
                                        hasRenderOption:false,
                                        options: [
                                            { color: "#409EFF", name: "Paid",value:"paid" },
                                            { color: "#67C23A", name: "UnPaid",value:"unpaid" },
                                        ],
                                    },
                                    {
                                    sortable: true,
                                    label: "Total",
                                    value: "total",
                                    type: "currency",
                                    },
                                    {
                                    sortable: true,
                                    label: "Paid",
                                    value: "paid",
                                    type: "currency",
                                    },
                                     {
                                    sortable: true,
                                    label: "Balance",
                                    value: "balance",
                                    type: "currency",
                                    },
                                ],
                        }
                    ]
                },
                global:{
                    tableTitle:"Generate Report",
                    hasDownload:true,
                    tableData:[],
                    tableFields:[]
                }
            },


            dataPresetStatus:[
                {
                    invoice_id:"001",
                    payment_status:"paid",
                    total:200,
                    paid:300,
                    balance:400,
                },
                {
                    invoice_id:"002",
                    payment_status:"unpaid",
                    total:200,
                    paid:300,
                    balance:400,
                }
            ],

            dataPresetMethod:[
                {
                    invoice_id:"001",
                    payment_method:"visa",
                    total:200,
                    paid:300,
                    balance:33333,
                },
                {
                    invoice_id:"002",
                    payment_method:"mastercard",
                    total:123,
                    paid:245,
                    balance:245677,
                },
                {
                    invoice_id:"003",
                    payment_method:"cod",
                    total:231,
                    paid:3333,
                    balance:123,
                }
            ],

            dataPresetJobPerStaf:[
                {
                    job_id:"001",
                    staff:"staff 1",
                    total_jobs:200,
                },
                {
                    job_id:"002",
                    staff:"staff 2",
                    total_jobs:4,
                },
                {
                    job_id:"002",
                    staff:"staff 2",
                    total_jobs:53,
                },
            ],
            dataPresetJobPerTeam:[
                {
                    job_id:"001",
                    staff:"team 1",
                    total_jobs:1000,
                },
                {
                    job_id:"002",
                    staff:"team 2",
                    total_jobs:2000,
                },
                {
                    job_id:"002",
                    staff:"team 3",
                    total_jobs:1230,
                },
            ],
            dataPresetJobPerFranchise:[
                {
                    job_id:"001",
                    franchise:"franchise 1",
                    total_jobs:1000,
                },
                {
                    job_id:"002",
                    franchise:"franchise 2",
                    total_jobs:2000,
                },
                {
                    job_id:"002",
                    franchise:"franchise 3",
                    total_jobs:1230,
                },
            ],
            dataPresethrsjob:[
                {
                    job_id:"001",
                    job_name:"jobs 1",
                    total_hrs:8,
                },
                {
                    job_id:"002",
                    job_name:"jobs 2",
                    total_hrs:12,
                },
                {
                    job_id:"002",
                    job_name:"jobs 3",
                    total_hrs:23,
                },
            ],
            dataPresetavgjob:[
                {
                    job_id:"001",
                    job_name:"jobs 1",
                    ave_hrs:8,
                },
                {
                    job_id:"002",
                    job_name:"jobs 2",
                    ave_hrs:9,
                },
                {
                    job_id:"002",
                    job_name:"jobs 3",
                    ave_hrs:10,
                },
            ],

        }
    },
    methods:{
        generate(value){
            console.log("from parent ", value );
            this.config.global.tableData = [];
            if (value.preset === "Invoices by payment status (Day)" || value.preset === "Invoices by payment status (Week)" || value.preset === "Invoices by payment status (Month)" || value.preset === "Invoices by payment status (Year)") {
                this.config.global.tableData = this.dataPresetStatus;
            }else if(value.preset === "Invoices by payment Type (Day)" || value.preset === "Invoices by payment Type (Week)" || value.preset === "Invoices by payment Type (Month)" || value.preset === "Invoices by payment Type (Year)"){
                setTimeout(() => {
                    this.config.global.tableData = this.dataPresetMethod
                }, 200);
            }else if(value.preset === "Total jobs per staff"){
                this.config.global.tableData = this.dataPresetJobPerStaf
            }else if(value.preset === "Total jobs per tean"){
                this.config.global.tableData = this.dataPresetJobPerTeam
            }else if(value.preset === "Total jobs per franchise"){
                this.config.global.tableData = this.dataPresetJobPerFranchise
            }else if(value.preset === "Total hours per job"){
                this.config.global.tableData = this.dataPresethrsjob
            }else if(value.preset === "Average hours per job"){
                this.config.global.tableData = this.dataPresetavgjob
            }


        }
    }

}
</script>
<style scoped>

</style>