<template>
  <el-row>
    <el-col>
      <button @click="addData">add test</button>
      <div style="padding:5%">
                  <!-- :toggleServerSide="toggleServerSide"
          :extraColumn="extraColumn" -->
        <dynamicTable
          ref="dynamicTable"
          :config="config"
          @rowClicked = "rowClicked"
          @onColValChange = "sampleBi"
          @action = "actions"
          @remove_selected="remove_selected"
          @onToggleEvent="sample"
          @serverTableSort="emitSort"
          @serverChangeDate="serverDate"
          @serverSearch="setSearch"
          @serverChangePaginate="setPaginate"
          @serverPills="sampleParentSetPills"
          @change_status="changeMultiple"
          @toggleSwitch="actionEmit"
        />
      </div>

      <el-dialog title="SelectedData" :visible.sync="openModal">
        <el-alert title="Remove all?" type="warning">
          Are you sure you want to remove all this data?
        </el-alert>

        <span slot="footer" class="dialog-footer">
          <el-button @click="openModal = false">Cancel</el-button>
          <el-button type="primary" @click="removeAll()"
            >Yes, Remove all</el-button
          >
        </span>
      </el-dialog>

      <el-dialog title="Update" :visible.sync="edit" width="30%">
        <el-form>
          <el-form-item label="Agent Name">
            <el-input v-model="agent_name"></el-input>
          </el-form-item>
          <el-form-item label="Branch">
            <el-select v-model="branch" placeholder="Choose branch">
              <el-option
                label="Cebu Business Park"
                value="cebu business park"
              ></el-option>
              <el-option label="IT Park" value="it park"></el-option>
              <el-option label="Oakridge" value="Oakridge"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="edit = false">Cancel</el-button>
          <el-button type="primary" @click="update">Confirm</el-button>
        </span>
      </el-dialog>
                  <el-dialog
                title="You Clicked a row"
                :visible.sync="onRowModal"
                width="30%"
                >
                    <el-alert
                        title="This row belongs to"
                        type="success">
                        <h4>{{message}}</h4>
                    </el-alert>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="onRowModal = false" type="primary" >Ok</el-button>
                </span>
            </el-dialog>
    </el-col>
  </el-row>
</template>
<script>
import axios from './../axiosInstance'

import dynamicTable from "./dynamicTablev2.vue";
import {dummyDataPage1,dummyDataPage2, dummyHeaderData, dummyColumn,nextDummyCol,nextDummyData} from "./tableData";

export default {
  components: {
    dynamicTable,
  },
  mounted(){
    console.log(dummyColumn);
    var dateFilterBy = {
      name:'date_test',
      from:new Date,
      to:"6-14-21"
    }
    this.loopTagshere();
    this.$refs.dynamicTable.changeDateFilterBy(dateFilterBy);
  },
  data() {
    return {
      allSalesField: dummyColumn,
      config:{
        serverSide:{
          loading:false,
          tableLength:0,
        },
        filterSettings:{
          clickabletags:{
            data: [
              { color: "#5da8a9", label: "Attendance", count:0 },
            ],
            columnName: 'branch'
          },
          searchDate:{
            dateFilterBy:{},
            dateOptions: [],
          },
          searchColumn:true,
        },
        tableSetting:{
          enableClickableRows: true,
          rowAction: [
                        { label: "Remove Selected", emit: "remove_selected" },
                        { label: "Select Status", emit: "change_status", options:[
                          { name: "Fulltime", value: "fulltime" },
                          { name: "Outsource", value: "outsource" },
                          { name: "Partime", value: "partime" },
                        ]},
                      ],
          actionButton: [
            {label:'sample',emit:"", type:"switch", }
          ],
        },
        global:{
          tableTitle:'Server Side Attendance',
          tableFields:dummyColumn,
          tableData:[],
          hasDownload:true,
          loadingText:`Fetching wawawa, please wait...`,
        },
      },

      message:"",
      onRowModal:false,
      sales_id: "",
      agent_name: "",
      branch: "",
      page:1,
      edit: false,
      openModal: false,
      modalDataSelected: [],
      extraColumn:[],

      loopedTags:[
        { color: "#409EFF", label: "Cebu Business Park" , count:0},
        { color: "#67C23A", label: "IT Park" ,},
        { color: "#e6a23c", label: "Oakridge" , count:0},
      ],
      toggleServerSide:{
        toggled:true,
        label:"Show other details",
        header:[],
      },
      modalFields: [
        {
          sortable: true,
          label: "Sale #",
          value: "sale_id",
          width: "140",
          type: "string",
        },
        {
          sortable: true,
          label: "Agent Name",
          value: "agent_name",
          width: "",
          type: "string",
        },
        {
          sortable: true,
          label: "Branch",
          value: "branch",
          width: "",
          type: "string",
          renderOptions: [
            { color: "#409EFF", label: "Cebu Business Park" },
            { color: "#67C23A", label: "IT Park" },
            { color: "#e6a23c", label: "Oakridge" },
          ],
          dropDown: [
            { name: "Cebu Business Park", value: "cebu business park" },
            { name: "IT Park", value: "it park" },
            { name: "Oakridge", value: "oakridge" },
          ],
        },
      ],
    };
  },
  methods: {
    actionEmit(val){
      alert(val);
    },
    actions(val){
      console.log("faefedededsedaf", val);
    },
    sampleBi(val){
      console.log("faefaf", val);
    },
    rowClicked(val){
      console.log("c;ekesafef",val);
    },
    changeMultiple(val){
      console.log("test",val);``
      this.getData()
    },
    sample(){
      this.config.specialFeat.extraColumn = nextDummyCol;
      console.log("sample",nextDummyCol);
    },
    sampleParentSetPills(val){
      console.log('parent', val);
    },
    emitSort(val){
      console.log("value",val);
    },
    remove_selected(val){
      console.log(val);
    },
    getData(){
      console.log("getData");
      this.config.serverSide.loading=true;
      this.config.serverSide.tableLength=18;


      setTimeout(() => {
        if (this.page == 1) {
          this.config.global.tableData = dummyDataPage1
        }else if(this.page == 2){
          this.config.global.tableData = dummyDataPage2
        }else if(this.page == 3){
          this.config.global.tableData = dummyDataPage3

        }else if(this.page == 4){
          this.config.global.tableData = dummyDataPage4

        }
        this.config.serverSide.loading = false
      }, 500);
    },
    setPaginate(val) {
      console.log('set Paginate',val)
      this.page = val.page
      this.pageSize = val.pageSize
      this.getData();
    },
    serverDate(val){
        console.log('date Search', val);
        this.getData();
    },
    loopTagshere(){
      this.loopedTags.map(element => {
					this.config.filterSettings.clickabletags.data.push(element)
          console.log('tags',element);
			});
      console.log(this.headerServer);
    },
    setSearch(val) {
      console.log('setSearch',val)
      this.getData();
    },
    rowOnclick (value) {
      this.onRowModal = true
      console.log(value.row);
      this.message = value.row['agent_name'] + " " + value.label
    },
    add_attendance(value){
      console.log(value);
    },
    serverSearch(value){
      console.log("lol",value);
    },
    paginateChange(value) {
      console.log(value);

    },
    dateChange(value) {
      // axios here
      console.log(value);
    },
    selectchange(value) {
      console.log(value);
    },
    change() {
      console.log(JSON.parse(this.value));
    },
    onClickChild(value) {
      this.selectedTab = value;
    },
    editFunction(value) {
      this.edit = true;
      this.sales_id = value.row.sale_id;
      this.agent_name = value.row.agent_name;
      this.branch = value.row.branch;
    },
    update() {
      var index = _.findIndex(this.data, { sale_id: this.sales_id });
      var dataOn = this.data[index];
      dataOn.agent_name = this.agent_name;
      dataOn.branch = this.branch;
      this.data.splice(index, 1, dataOn);
      this.edit = false;
    },
    removeAll() {
      for (var dat in this.modalDataSelected) {
        var index = _.findIndex(this.data, {
          sale_id: this.modalDataSelected[dat].sale_id,
        });
        this.data.splice(index, 1);
        this.openModal = false;
      }
    },
    removeData(value) {
      this.openModal = true;
      this.modalDataSelected = value;
    },
    addData() {
      var test = {
        sale_id: "SAL-2031",
        date_sold: "2021-06-14",
        agent_name: "John Doe",
        branch: "cebu Business Park",
        total_sold: 45000,
        item_sold: 300,
      };

      this.data.push(test);
    },
  },
  setup() {},
};
</script>
